USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateStockQuantity]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 2. Update Stock Quantity
-- =============================================
CREATE   PROCEDURE [dbo].[usp_UpdateStockQuantity]
    @ProductGuid UNIQUEIDENTIFIER,
    @QuantityChange INT,
    @ChangeType NVARCHAR(50),
    @Reason NVARCHAR(500) = NULL,
    @ChangedBy NVARCHAR(200) = 'Admin'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @PreviousQuantity INT;
        DECLARE @NewQuantity INT;

        -- Get current quantity
        SELECT @PreviousQuantity = StockQuantity
        FROM Products
        WHERE ProductGuid = @ProductGuid;

        IF @PreviousQuantity IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Product not found', 16, 1);
            RETURN;
        END

        -- Calculate new quantity
        SET @NewQuantity = @PreviousQuantity + @QuantityChange;

        IF @NewQuantity < 0
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Insufficient stock. Current quantity: %d', 16, 1, @PreviousQuantity);
            RETURN;
        END

        -- Update stock
        UPDATE Products
        SET StockQuantity = @NewQuantity
        WHERE ProductGuid = @ProductGuid;

        -- Log history
        INSERT INTO InventoryHistory (ProductGuid, ChangeType, QuantityChange, PreviousQuantity, NewQuantity, Reason, ChangedBy)
        VALUES (@ProductGuid, @ChangeType, @QuantityChange, @PreviousQuantity, @NewQuantity, @Reason, @ChangedBy);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
