USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllProducts]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetAllProducts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.ProductGuid,
        p.Name,
        p.Category,
        p.Price,
        p.Unit,
        p.Description,
        ISNULL(pi.ImageUrl, '') AS ImageUrl,
        p.IsActive
    FROM Products p
    LEFT JOIN ProductImages pi
        ON p.ProductGuid = pi.ProductGuid
        AND pi.IsPrimary = 1
    WHERE p.IsActive = 1
    ORDER BY p.CreatedOn DESC;
END
GO
