USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[EmailTemplates]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailTemplates](
	[TemplateId] [int] IDENTITY(1,1) NOT NULL,
	[TemplateGuid] [uniqueidentifier] NOT NULL,
	[TemplateName] [nvarchar](100) NOT NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[BodyTemplate] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TemplateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmailTemplates] ON 

INSERT [dbo].[EmailTemplates] ([TemplateId], [TemplateGuid], [TemplateName], [Subject], [BodyTemplate], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'eeccc494-4fb6-420b-a5fa-6defa47641b4', N'OrderShipped', N'Your Order Has Been Shipped - Order #{{OrderId}}', N'<h2>Your order is on its way!</h2><p>Dear {{CustomerName}},</p><p>Your order #{{OrderId}} has been shipped.</p><p>Tracking: {{TrackingNumber}}</p>', N'Sent when order is shipped', 1, CAST(N'2026-01-03T22:12:08.120' AS DateTime), CAST(N'2026-01-03T22:12:08.120' AS DateTime))
INSERT [dbo].[EmailTemplates] ([TemplateId], [TemplateGuid], [TemplateName], [Subject], [BodyTemplate], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'be62db97-9aff-45de-b428-59bdce64fc1b', N'OrderDelivered', N'Your Order Has Been Delivered - Order #{{OrderId}}', N'<h2>Your order has been delivered!</h2><p>Dear {{CustomerName}},</p><p>Your order #{{OrderId}} has been delivered.</p><p>Thank you for shopping with us!</p>', N'Sent when order is delivered', 1, CAST(N'2026-01-03T22:12:08.127' AS DateTime), CAST(N'2026-01-03T22:12:08.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[EmailTemplates] OFF
GO
/****** Object:  Index [UQ__EmailTem__39C299602981D51E]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[EmailTemplates] ADD UNIQUE NONCLUSTERED 
(
	[TemplateGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EmailTem__A6C2DA66742E4F54]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[EmailTemplates] ADD UNIQUE NONCLUSTERED 
(
	[TemplateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmailTemplates] ADD  DEFAULT (newid()) FOR [TemplateGuid]
GO
ALTER TABLE [dbo].[EmailTemplates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmailTemplates] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmailTemplates] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
