USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddOrderItem]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddOrderItem]
    @OrderId INT,
    @ProductId UNIQUEIDENTIFIER,
    @ProductName NVARCHAR(200),
    @Quantity INT,
    @Price DECIMAL(10,2)
AS
BEGIN
    INSERT INTO OrderItems (OrderId, ProductId, ProductName, Quantity, Price)
    VALUES (@OrderId, @ProductId, @ProductName, @Quantity, @Price)
END
GO
