USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByEmail]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Auth Stored Procedures
-- =============================================

-- 1. Get User by Email
CREATE   PROCEDURE [dbo].[usp_GetUserByEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserId,
        UserGuid,
        Email,
        PasswordHash,
        FirstName,
        LastName,
        PhoneNumber,
        CreatedAt,
        IsActive
    FROM Users
    WHERE Email = @Email;
END
GO
