USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetCart]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetCart]
    @SessionId NVARCHAR(100) = NULL,
    @UserGuid UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Priority: UserGuid > SessionId
    DECLARE @CartId INT;

    IF @UserGuid IS NOT NULL
    BEGIN
        SELECT @CartId = CartId 
        FROM Carts 
        WHERE UserGuid = @UserGuid AND IsActive = 1;
    END
    ELSE IF @SessionId IS NOT NULL
    BEGIN
        SELECT @CartId = CartId 
        FROM Carts 
        WHERE SessionId = @SessionId AND IsActive = 1;
    END

    IF @CartId IS NULL
        RETURN;

    SELECT 
        ci.CartItemId,
        ci.ProductGuid,
        p.Name AS ProductName,
        p.Category AS ProductCategory,
        p.Unit AS ProductUnit,
        ISNULL(pi.ImageUrl, '') AS ImageUrl,
        ci.Quantity,
        p.Price
    FROM CartItems ci
    INNER JOIN Products p 
        ON ci.ProductGuid = p.ProductGuid
    LEFT JOIN ProductImages pi
        ON p.ProductGuid = pi.ProductGuid
        AND pi.IsPrimary = 1
    WHERE ci.CartId = @CartId
      AND p.IsActive = 1
    ORDER BY ci.AddedAt DESC;
END
GO
