USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateOrderPaymentStatus]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateOrderPaymentStatus]
(
    @OrderId INT,
    @PaymentStatus NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewOrderStatus NVARCHAR(50);

    -- Set order status based on payment status
    IF @PaymentStatus = 'Paid'
        SET @NewOrderStatus = 'Processing';
    ELSE IF @PaymentStatus = 'Failed'
        SET @NewOrderStatus = 'Cancelled';
    ELSE
        SET @NewOrderStatus = 'Pending';

    UPDATE Orders
    SET 
        PaymentStatus = @PaymentStatus,
        OrderStatus = @NewOrderStatus,
        UpdatedAt = GETDATE()
    WHERE OrderId = @OrderId;

    -- Log the update
    PRINT 'Order ' + CAST(@OrderId AS NVARCHAR) + ' updated: PaymentStatus=' + @PaymentStatus + ', OrderStatus=' + @NewOrderStatus;
END
GO
