USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateCartItemQuantity]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- 3. Update Cart Item Quantity
-- =============================================
CREATE   PROCEDURE [dbo].[usp_UpdateCartItemQuantity]
    @SessionId NVARCHAR(100) = NULL,
    @UserGuid UNIQUEIDENTIFIER = NULL,
    @CartItemId INT,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE ci
    SET ci.Quantity = @Quantity
    FROM CartItems ci
    INNER JOIN Carts c ON ci.CartId = c.CartId
    WHERE ci.CartItemId = @CartItemId
        AND c.IsActive = 1
        AND (
            (@UserGuid IS NOT NULL AND c.UserGuid = @UserGuid) OR
            (@SessionId IS NOT NULL AND c.SessionId = @SessionId)
        );

    -- Update cart timestamp
    UPDATE c
    SET c.UpdatedAt = GETDATE()
    FROM Carts c
    INNER JOIN CartItems ci ON c.CartId = ci.CartId
    WHERE ci.CartItemId = @CartItemId;
END
GO
