USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrderById]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Get Order By ID
-- ============================================
CREATE   PROCEDURE [dbo].[usp_GetOrderById]
(
    @OrderId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        OrderId,
        OrderGuid,
        CustomerId,
        CustomerEmail,
        CustomerPhone,
        ShippingAddress,
        BillingAddress,
        PaymentType,
        PaymentStatus,
        OrderStatus,
        Subtotal,
        Tax,
        ISNULL(ShippingCost, Shipping) AS ShippingCost,
        ISNULL(TotalAmount, Total) AS TotalAmount,
        CreatedAt,
        UpdatedAt
    FROM Orders
    WHERE OrderId = @OrderId;
END
GO
