USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [nvarchar](100) NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Carts] ON 

INSERT [dbo].[Carts] ([CartId], [SessionId], [UserGuid], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'guest_123456', NULL, CAST(N'2025-12-30T02:30:20.2500000' AS DateTime2), CAST(N'2025-12-30T02:30:20.2600000' AS DateTime2), 1)
INSERT [dbo].[Carts] ([CartId], [SessionId], [UserGuid], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'guest_1767045629658_qr985jrg9', NULL, CAST(N'2025-12-30T19:10:34.7466667' AS DateTime2), CAST(N'2025-12-30T19:14:29.7600000' AS DateTime2), 0)
INSERT [dbo].[Carts] ([CartId], [SessionId], [UserGuid], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, NULL, N'ed073215-2a02-4da2-9b78-18ce23eac769', CAST(N'2025-12-30T19:14:29.7533333' AS DateTime2), CAST(N'2026-01-07T17:37:03.5333333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Carts_SessionId]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_Carts_SessionId] ON [dbo].[Carts]
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Carts_UserGuid]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_Carts_UserGuid] ON [dbo].[Carts]
(
	[UserGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_User] FOREIGN KEY([UserGuid])
REFERENCES [dbo].[Users] ([UserGuid])
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_User]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [CHK_CartIdentifier] CHECK  (([SessionId] IS NOT NULL OR [UserGuid] IS NOT NULL))
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [CHK_CartIdentifier]
GO
