USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[StockQuantity] [int] NULL,
	[LowStockThreshold] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductGuid], [Name], [Category], [Price], [Unit], [Description], [ImageUrl], [IsActive], [CreatedOn], [StockQuantity], [LowStockThreshold]) VALUES (16, N'1dbc90fa-2199-42d5-b157-44d163b63d80', N'Kashmir Walnuts', N'Dry Fruits', CAST(500.00 AS Decimal(10, 2)), N'600 g', N'Fresh Kashmiri Walnuts', NULL, 1, CAST(N'2025-12-31T03:31:06.463' AS DateTime), 110, 10)
INSERT [dbo].[Products] ([ProductId], [ProductGuid], [Name], [Category], [Price], [Unit], [Description], [ImageUrl], [IsActive], [CreatedOn], [StockQuantity], [LowStockThreshold]) VALUES (17, N'd1750bed-d146-4d1d-ad00-347506649162', N'Kashmir Almonds', N'Dry Fruits', CAST(800.00 AS Decimal(10, 2)), N'500g', N'Fresh  Kashmiri almond nuts.', NULL, 1, CAST(N'2025-12-31T04:00:10.447' AS DateTime), 300, 10)
INSERT [dbo].[Products] ([ProductId], [ProductGuid], [Name], [Category], [Price], [Unit], [Description], [ImageUrl], [IsActive], [CreatedOn], [StockQuantity], [LowStockThreshold]) VALUES (18, N'c8e5229d-5977-4e7c-8725-13a6138334df', N'Kashmiri Honey', N'Natural Products', CAST(500.00 AS Decimal(10, 2)), N'500 g', N'Pure organic honey from Kashmir Valleys', NULL, 1, CAST(N'2026-01-03T03:15:20.763' AS DateTime), 10, 10)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
/****** Object:  Index [UQ_Product_ProductGuid]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [UQ_Product_ProductGuid] UNIQUE NONCLUSTERED 
(
	[ProductGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (newid()) FOR [ProductGuid]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((10)) FOR [LowStockThreshold]
GO
