USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_AdminLogin]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_AdminLogin]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        AdminId,
        AdminGuid,
        Email,
        PasswordHash,
        FullName,
        Role,
        IsActive
    FROM AdminUsers
    WHERE Email = @Email AND IsActive = 1;
END
GO
