USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateOrderItem]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Create Order Item - Updated Version
-- ============================================
CREATE   PROCEDURE [dbo].[usp_CreateOrderItem]
(
    @OrderId INT,
    @ProductGuid UNIQUEIDENTIFIER,
    @ProductName NVARCHAR(200),
    @Quantity INT,
    @Price DECIMAL(10,2),
    @Subtotal DECIMAL(10,2)
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO OrderItems 
    (
        OrderId,
        ProductId,
        ProductGuid,
        ProductName,
        Quantity,
        Price,
        Subtotal
    )
    VALUES 
    (
        @OrderId,
        @ProductGuid,
        @ProductGuid,
        @ProductName,
        @Quantity,
        @Price,
        @Subtotal
    );
END
GO
