USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmailNotificationStatus]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   5. Update Email Notification Status
========================================================= */
CREATE   PROCEDURE [dbo].[sp_UpdateEmailNotificationStatus]
    @NotificationGuid UNIQUEIDENTIFIER,
    @Status NVARCHAR(50),
    @FailureReason NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE EmailNotifications
    SET 
        Status = @Status,
        SentAt = CASE WHEN @Status = 'Sent' THEN GETDATE() ELSE SentAt END,
        FailureReason = @FailureReason,
        RetryCount = CASE WHEN @Status = 'Failed' THEN RetryCount + 1 ELSE RetryCount END,
        UpdatedAt = GETDATE()
    WHERE NotificationGuid = @NotificationGuid;

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
