USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerAnalytics]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   3. CUSTOMER ANALYTICS
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetCustomerAnalytics]
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME = DATEADD(DAY, -@Days, GETDATE());

    -- Customer Acquisition
    SELECT 
        CAST(u.CreatedAt AS DATE) AS Date,
        COUNT(u.UserId) AS NewCustomers
    FROM Users u
    WHERE u.CreatedAt >= @StartDate
    GROUP BY CAST(u.CreatedAt AS DATE)
    ORDER BY Date;

    -- Customer Retention Metrics
    SELECT 
        COUNT(DISTINCT CASE WHEN o.CreatedAt >= @StartDate THEN o.CustomerId END) AS ActiveCustomers,
        COUNT(DISTINCT CASE WHEN u.CreatedAt < DATEADD(DAY, -30, @StartDate) AND o.CreatedAt >= @StartDate THEN o.CustomerId END) AS ReturningCustomers,
        COUNT(DISTINCT CASE WHEN u.CreatedAt >= @StartDate AND o.OrderId IS NOT NULL THEN o.CustomerId END) AS NewCustomersWithOrders
    FROM Users u
    LEFT JOIN Orders o ON u.UserId = o.CustomerId;

    -- Customer Lifetime Value Distribution
    SELECT 
        CASE 
            WHEN TotalSpent >= 50000 THEN '50K+'
            WHEN TotalSpent >= 20000 THEN '20K-50K'
            WHEN TotalSpent >= 10000 THEN '10K-20K'
            WHEN TotalSpent >= 5000 THEN '5K-10K'
            WHEN TotalSpent > 0 THEN '0-5K'
            ELSE 'No Purchase'
        END AS ValueSegment,
        COUNT(*) AS CustomerCount,
        ISNULL(AVG(TotalSpent), 0) AS AverageValue,
        ISNULL(SUM(TotalSpent), 0) AS TotalValue
    FROM (
        SELECT 
            u.UserId,
            ISNULL(SUM(o.TotalAmount), 0) AS TotalSpent
        FROM Users u
        LEFT JOIN Orders o ON u.UserId = o.CustomerId
        GROUP BY u.UserId
    ) AS CustomerValues
    GROUP BY 
        CASE 
            WHEN TotalSpent >= 50000 THEN '50K+'
            WHEN TotalSpent >= 20000 THEN '20K-50K'
            WHEN TotalSpent >= 10000 THEN '10K-20K'
            WHEN TotalSpent >= 5000 THEN '5K-10K'
            WHEN TotalSpent > 0 THEN '0-5K'
            ELSE 'No Purchase'
        END
    ORDER BY TotalValue DESC;

  -- Geographic Distribution (Orders-based)
-- Geographic Distribution (FINAL FIX)
SELECT TOP 10
    o.ShippingAddress AS City,   -- mapped to City
    '' AS State,                 -- 🔥 REQUIRED to avoid "State" error
    COUNT(DISTINCT o.CustomerId) AS CustomerCount,
    COUNT(DISTINCT o.OrderId) AS OrderCount,
    ISNULL(SUM(o.TotalAmount), 0) AS TotalRevenue
FROM dbo.Orders o
WHERE o.CreatedAt >= @StartDate
  AND o.ShippingAddress IS NOT NULL
GROUP BY o.ShippingAddress
ORDER BY TotalRevenue DESC;



END
GO
