USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ExportCustomerData]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ExportCustomerData]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserGuid,
        u.Email,
        CONCAT(u.FirstName, ' ', u.LastName) AS Name,
        u.PhoneNumber,
        u.CreatedAt,
        u.LastLoginAt,
        u.IsActive,
        COUNT(o.OrderId) AS TotalOrders,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalSpent,
        MAX(o.CreatedAt) AS LastOrderDate
    FROM Users u
    LEFT JOIN Orders o ON u.UserId = o.CustomerId
    GROUP BY 
        u.UserGuid,
        u.Email,
        u.FirstName,
        u.LastName,
        u.PhoneNumber,
        u.CreatedAt,
        u.LastLoginAt,
        u.IsActive
    ORDER BY u.CreatedAt DESC;
END
GO
