USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomersAdvanced]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetCustomersAdvanced]
    @Page INT = 1,
    @PageSize INT = 20,
    @SearchTerm NVARCHAR(100) = NULL,
    @CustomerStatus NVARCHAR(20) = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
    @MinOrders INT = NULL,
    @MaxOrders INT = NULL,
    @MinSpending DECIMAL(18,2) = NULL,
    @MaxSpending DECIMAL(18,2) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    WITH CustomerData AS (
        SELECT 
            u.UserGuid,
            u.Email,
            CONCAT(u.FirstName, ' ', u.LastName) AS Name,
            u.PhoneNumber,
            u.CreatedAt,
            u.LastLoginAt,
            u.IsActive,
            COUNT(o.OrderId) AS TotalOrders,
            ISNULL(SUM(o.TotalAmount), 0) AS TotalSpent,
            MAX(o.CreatedAt) AS LastOrderDate
        FROM Users u
        LEFT JOIN Orders o ON u.UserId = o.CustomerId
        WHERE 
            (@SearchTerm IS NULL OR u.Email LIKE '%' + @SearchTerm + '%' 
                OR u.FirstName LIKE '%' + @SearchTerm + '%' 
                OR u.LastName LIKE '%' + @SearchTerm + '%')
            AND (@FromDate IS NULL OR u.CreatedAt >= @FromDate)
            AND (@ToDate IS NULL OR u.CreatedAt <= @ToDate)
        GROUP BY 
            u.UserGuid, u.Email, u.FirstName, u.LastName, 
            u.PhoneNumber, u.CreatedAt, u.LastLoginAt, u.IsActive
    )
    SELECT 
        *,
        (SELECT COUNT(*) FROM CustomerData) AS TotalCount
    FROM CustomerData
    WHERE 
        (@MinOrders IS NULL OR TotalOrders >= @MinOrders)
        AND (@MaxOrders IS NULL OR TotalOrders <= @MaxOrders)
        AND (@MinSpending IS NULL OR TotalSpent >= @MinSpending)
        AND (@MaxSpending IS NULL OR TotalSpent <= @MaxSpending)
    ORDER BY CreatedAt DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
