USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_DeactivateUser]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 6. Deactivate User (Soft Delete)
-- =============================================
CREATE   PROCEDURE [dbo].[usp_DeactivateUser]
    @UserGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsActive = 0
    WHERE UserGuid = @UserGuid;
END
GO
