USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPaymentTransactionByRazorpayOrderId]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- GET PAYMENT TRANSACTION BY RAZORPAY ORDER ID
-- ============================================
CREATE   PROCEDURE [dbo].[usp_GetPaymentTransactionByRazorpayOrderId]
(
    @RazorpayOrderId NVARCHAR(255)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PaymentTransactionId,
        OrderId,
        PaymentGateway,
        TransactionId,
        RazorpayOrderId,
        RazorpayPaymentId,
        RazorpaySignature,
        Amount,
        Currency,
        Status,
        PaymentMethod,
        CreatedAt,
        CompletedAt,
        ErrorMessage
    FROM PaymentTransactions
    WHERE RazorpayOrderId = @RazorpayOrderId;
END
GO
