USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetAllOrders]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetAllOrders]
    @PageNumber INT = 1,
    @PageSize INT = 20,
    @Status NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.OrderGuid,
        o.OrderId,
        c.FirstName + ' ' + c.LastName AS CustomerName,
        o.CustomerEmail,
        o.CustomerPhone,
        o.TotalAmount,
        o.OrderStatus,
        o.PaymentStatus,
        o.PaymentType,
        o.CreatedAt,
        o.ShippingAddress
    FROM Orders o
    LEFT JOIN Customers c ON o.CustomerId = c.CustomerId
    WHERE (@Status IS NULL OR o.OrderStatus = @Status)
    ORDER BY o.CreatedAt DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
