USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerStatistics]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Get Customer Statistics
CREATE   PROCEDURE [dbo].[sp_GetCustomerStatistics]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*) AS TotalCustomers,
        COUNT(CASE WHEN CreatedAt >= DATEADD(DAY, -30, GETDATE()) THEN 1 END) AS NewCustomers,
        COUNT(CASE WHEN LastLoginAt >= DATEADD(DAY, -30, GETDATE()) THEN 1 END) AS ActiveCustomers,
        COUNT(CASE WHEN LastLoginAt < DATEADD(DAY, -30, GETDATE()) THEN 1 END) AS InactiveCustomers
    FROM Users;
END
GO
