USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[LastLoginAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserGuid], [Email], [PasswordHash], [FirstName], [LastName], [PhoneNumber], [CreatedAt], [IsActive], [LastLoginAt]) VALUES (1, N'2a308ae5-aabf-44b2-8517-d01f84b2c6e4', N'test@example.com', N'CBTs+1RZL1aYDjLHCW2zW+XW1mtzFtPtsGhbNTmtmff6O0BOTmMYU6m49fap8bnNnY2PVGOFB7JzH8HEbKF3yA==', N'John', N'Doe', N'1234567890', CAST(N'2025-12-30T02:23:18.2200000' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([UserId], [UserGuid], [Email], [PasswordHash], [FirstName], [LastName], [PhoneNumber], [CreatedAt], [IsActive], [LastLoginAt]) VALUES (2, N'53a8bf92-70e2-4f8e-83f2-a26231cafc7d', N'ersam@gmail.com', N'HERhj1razL0wXTyddsjO5qOno9DmJ1pPOCjDKBEwZw4tOxiffh4teb4IWyCV6U5nNkyS0XNOlA2jupD9xnUijQ==', N'ErSam', N'mmmm', N'7006767886', CAST(N'2025-12-30T17:00:24.5600000' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([UserId], [UserGuid], [Email], [PasswordHash], [FirstName], [LastName], [PhoneNumber], [CreatedAt], [IsActive], [LastLoginAt]) VALUES (3, N'ed073215-2a02-4da2-9b78-18ce23eac769', N'ersam3956@gmail.com', N'bMKN8cYfGdLu8BDCdQCSTgymli/5rYyGFLvU4xI14bScD5yj5z+K5tLjDh0Ecbw4dcapYn/lpnIkosQXjoOJjw==', N'Faisal', N'wani', N'03456789876', CAST(N'2025-12-30T19:14:29.6200000' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Users__99B7F23B125C4B06]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534BAACEBE7]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserGuid]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
