USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProductByGuid]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_GetProductByGuid]
(
    @ProductGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ProductGuid,
        Name,
        Category,
        Price,
        Unit,
        Description,
        ImageUrl,
        IsActive
    FROM Products
    WHERE ProductGuid = @ProductGuid
      AND IsActive = 1;
END
GO
