USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSalesChartData]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetSalesChartData]
    @Days INT = 7
AS
BEGIN
    SET NOCOUNT ON;

    WITH DateRange AS (
        SELECT CAST(DATEADD(DAY, -(@Days - 1), GETDATE()) AS DATE) AS Dt
        UNION ALL
        SELECT DATEADD(DAY, 1, Dt)
        FROM DateRange
        WHERE Dt < CAST(GETDATE() AS DATE)
    )
    SELECT
        FORMAT(d.Dt, 'MMM dd') AS [Date],
        ISNULL(SUM(o.TotalAmount),0) AS Revenue,
        COUNT(o.OrderId) AS Orders
    FROM DateRange d
    LEFT JOIN Orders o
        ON CAST(o.CreatedAt AS DATE) = d.Dt
        AND o.PaymentStatus = 'Paid'
    GROUP BY d.Dt
    ORDER BY d.Dt
    OPTION (MAXRECURSION 100);
END
GO
