USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProductWithImages]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- GET PRODUCT WITH DETAILS (Enhanced)
-- ============================================
CREATE   PROCEDURE [dbo].[usp_GetProductWithImages]
(
    @ProductGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Product Details
    SELECT
        ProductGuid,
        Name,
        Category,
        Price,
        Unit,
        Description,
        ImageUrl,
        IsActive,
        StockQuantity,
        LowStockThreshold,
        CreatedOn
    FROM Products
    WHERE ProductGuid = @ProductGuid AND IsActive = 1

    -- Product Images
    SELECT
	ImageId,
        ImageUrl,
        IsPrimary
    FROM ProductImages
    WHERE ProductGuid = @ProductGuid
    ORDER BY IsPrimary DESC;

    -- Average Rating & Review Count
    SELECT
        COUNT(*) AS TotalReviews,
        ISNULL(AVG(CAST(Rating AS FLOAT)), 0) AS AverageRating,
        SUM(CASE WHEN Rating = 5 THEN 1 ELSE 0 END) AS Rating5Count,
        SUM(CASE WHEN Rating = 4 THEN 1 ELSE 0 END) AS Rating4Count,
        SUM(CASE WHEN Rating = 3 THEN 1 ELSE 0 END) AS Rating3Count,
        SUM(CASE WHEN Rating = 2 THEN 1 ELSE 0 END) AS Rating2Count,
        SUM(CASE WHEN Rating = 1 THEN 1 ELSE 0 END) AS Rating1Count
    FROM ProductReviews
    WHERE ProductGuid = @ProductGuid AND IsApproved = 1;

    -- Related Products (same category, different product)
    -- Related Products (same category, different product) - JOIN based
SELECT TOP 4
    p.ProductGuid,
    p.Name,
    p.Category,
    p.Price,
    p.Unit,
    COALESCE(pi.ImageUrl, '') AS ImageUrl
FROM Products p
LEFT JOIN ProductImages pi
    ON pi.ProductGuid = p.ProductGuid
   AND pi.IsPrimary = 1
WHERE p.Category = (
        SELECT Category
        FROM Products
        WHERE ProductGuid = @ProductGuid
      )
  AND p.ProductGuid != @ProductGuid
  AND p.IsActive = 1
ORDER BY NEWID();
end
GO
