USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserOrderDetails]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetUserOrderDetails]
    @OrderGuid UNIQUEIDENTIFIER,
    @UserGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Order Info
    SELECT 
        o.OrderGuid,
        o.OrderId,
        o.CustomerEmail,
        o.CustomerPhone,
        o.ShippingAddress,
        o.BillingAddress,
        o.PaymentType,
        o.PaymentStatus,
        o.OrderStatus,
        o.Subtotal,
        o.Tax,
        o.ShippingCost,
        o.TotalAmount,
        o.CreatedAt,
        o.UpdatedAt
    FROM Orders o
    LEFT JOIN Users u ON o.CustomerId = u.UserId
    WHERE o.OrderGuid = @OrderGuid
      AND u.UserGuid = @UserGuid;

    -- Order Items
    SELECT 
        oi.OrderItemId,
        oi.ProductGuid,
        oi.ProductName,
        oi.Quantity,
        oi.Price,
        oi.Subtotal,
        COALESCE(
            (SELECT TOP 1 ImageUrl 
             FROM ProductImages 
             WHERE ProductGuid = oi.ProductGuid 
             ORDER BY IsPrimary DESC),
            'assets/images/placeholder.jpg'
        ) AS ImageUrl
    FROM OrderItems oi
    INNER JOIN Orders o ON oi.OrderId = o.OrderId
    LEFT JOIN Users u ON o.CustomerId = u.UserId
    WHERE o.OrderGuid = @OrderGuid
      AND u.UserGuid = @UserGuid;
END
GO
