USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[ShippingMethods]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingMethods](
	[ShippingMethodId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Cost] [decimal](10, 2) NULL,
	[EstimatedDelivery] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ShippingMethods] ON 

INSERT [dbo].[ShippingMethods] ([ShippingMethodId], [Name], [Cost], [EstimatedDelivery], [CreatedAt]) VALUES (1, N'Standard Shipping', CAST(0.00 AS Decimal(10, 2)), N'5-7 business days', CAST(N'2025-12-30T14:51:38.097' AS DateTime))
INSERT [dbo].[ShippingMethods] ([ShippingMethodId], [Name], [Cost], [EstimatedDelivery], [CreatedAt]) VALUES (2, N'Express Shipping', CAST(150.00 AS Decimal(10, 2)), N'2-3 business days', CAST(N'2025-12-30T14:51:38.097' AS DateTime))
INSERT [dbo].[ShippingMethods] ([ShippingMethodId], [Name], [Cost], [EstimatedDelivery], [CreatedAt]) VALUES (3, N'Next Day Delivery', CAST(300.00 AS Decimal(10, 2)), N'1 business day', CAST(N'2025-12-30T14:51:38.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[ShippingMethods] OFF
GO
ALTER TABLE [dbo].[ShippingMethods] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
