USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmailTemplates]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   6. Get Email Templates
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetEmailTemplates]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TemplateGuid,
        TemplateName,
        Subject,
        BodyTemplate,
        Description,
        IsActive,
        CreatedAt,
        UpdatedAt
    FROM EmailTemplates
    WHERE IsActive = 1
    ORDER BY TemplateName;
END
GO
