USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_ClearCart]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- 5. Clear Cart
-- =============================================
CREATE   PROCEDURE [dbo].[usp_ClearCart]
    @SessionId NVARCHAR(100) = NULL,
    @UserGuid UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DELETE ci
    FROM CartItems ci
    INNER JOIN Carts c ON ci.CartId = c.CartId
    WHERE c.IsActive = 1
        AND (
            (@UserGuid IS NOT NULL AND c.UserGuid = @UserGuid) OR
            (@SessionId IS NOT NULL AND c.SessionId = @SessionId)
        );

    -- Update cart timestamp
    UPDATE Carts
    SET UpdatedAt = GETDATE()
    WHERE IsActive = 1
        AND (
            (@UserGuid IS NOT NULL AND UserGuid = @UserGuid) OR
            (@SessionId IS NOT NULL AND SessionId = @SessionId)
        );
END
GO
