USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[ProductReviews]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductReviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProductGuid] [uniqueidentifier] NOT NULL,
	[CustomerId] [int] NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerEmail] [nvarchar](150) NULL,
	[Rating] [int] NOT NULL,
	[ReviewTitle] [nvarchar](200) NULL,
	[ReviewText] [nvarchar](max) NULL,
	[IsVerifiedPurchase] [bit] NULL,
	[IsApproved] [bit] NULL,
	[HelpfulCount] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductReviews] ON 

INSERT [dbo].[ProductReviews] ([ReviewId], [ProductGuid], [CustomerId], [CustomerName], [CustomerEmail], [Rating], [ReviewTitle], [ReviewText], [IsVerifiedPurchase], [IsApproved], [HelpfulCount], [CreatedAt], [UpdatedAt]) VALUES (21, N'c8e5229d-5977-4e7c-8725-13a6138334df', NULL, N'Faisal Wani', N'faisalwani@gmail.com', 5, N'Worth Every Drop', N' I’ve tried many brands, but this one stands out. The aroma, thickness, and natural sweetness are perfect. No artificial taste at all. Works great in tea and on toast.', 0, 1, 0, CAST(N'2026-01-03T20:45:11.3300000' AS DateTime2), NULL)
INSERT [dbo].[ProductReviews] ([ReviewId], [ProductGuid], [CustomerId], [CustomerName], [CustomerEmail], [Rating], [ReviewTitle], [ReviewText], [IsVerifiedPurchase], [IsApproved], [HelpfulCount], [CreatedAt], [UpdatedAt]) VALUES (22, N'd1750bed-d146-4d1d-ad00-347506649162', NULL, N'Arif Ahmad', N'arif@gmail.com', 5, N'Premium Kashmiri Almonds', N'These almonds are truly premium. Bigger size, crunchy texture, and very fresh. You can easily feel the quality difference compared to regular almonds.', 1, 1, 0, CAST(N'2026-01-03T20:52:16.6900000' AS DateTime2), NULL)
INSERT [dbo].[ProductReviews] ([ReviewId], [ProductGuid], [CustomerId], [CustomerName], [CustomerEmail], [Rating], [ReviewTitle], [ReviewText], [IsVerifiedPurchase], [IsApproved], [HelpfulCount], [CreatedAt], [UpdatedAt]) VALUES (23, N'd1750bed-d146-4d1d-ad00-347506649162', NULL, N'Neha Sharma', N'neha@gmail.com', 5, N'Fresh and Natural Taste', N'Loved the natural taste and aroma. Perfect for daily consumption and soaking overnight. Packaging was neat and hygienic.', 1, 1, 0, CAST(N'2026-01-01T20:52:16.6900000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ProductReviews] OFF
GO
/****** Object:  Index [IX_ProductReviews_IsApproved]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_IsApproved] ON [dbo].[ProductReviews]
(
	[IsApproved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReviews_ProductGuid]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_ProductGuid] ON [dbo].[ProductReviews]
(
	[ProductGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductReviews_Rating]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_ProductReviews_Rating] ON [dbo].[ProductReviews]
(
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [IsVerifiedPurchase]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT ((0)) FOR [HelpfulCount]
GO
ALTER TABLE [dbo].[ProductReviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Customer]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD  CONSTRAINT [FK_ProductReviews_Product] FOREIGN KEY([ProductGuid])
REFERENCES [dbo].[Products] ([ProductGuid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductReviews] CHECK CONSTRAINT [FK_ProductReviews_Product]
GO
ALTER TABLE [dbo].[ProductReviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
