USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateUserProfile]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 5. Update User Profile (Optional)
-- =============================================
CREATE   PROCEDURE [dbo].[usp_UpdateUserProfile]
    @UserGuid UNIQUEIDENTIFIER,
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @PhoneNumber NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET 
        FirstName = @FirstName,
        LastName = @LastName,
        PhoneNumber = @PhoneNumber
    WHERE UserGuid = @UserGuid;

    -- Return updated user
    SELECT 
        UserId,
        UserGuid,
        Email,
        FirstName,
        LastName,
        PhoneNumber,
        CreatedAt,
        IsActive
    FROM Users
    WHERE UserGuid = @UserGuid;
END
GO
