USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateEmailNotification]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CreateEmailNotification]
    @RecipientEmail NVARCHAR(255),
    @RecipientName NVARCHAR(255),
    @Subject NVARCHAR(500),
    @Body NVARCHAR(MAX),
    @NotificationType NVARCHAR(50),
    @Priority NVARCHAR(20) = 'Normal',
    @ScheduledAt DATETIME = NULL,
    @RelatedEntityId NVARCHAR(100) = NULL,
    @RelatedEntityType NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO EmailNotifications (
        RecipientEmail,
        RecipientName,
        Subject,
        Body,
        NotificationType,
        Priority,
        ScheduledAt,
        RelatedEntityId,
        RelatedEntityType,
        Status,
        CreatedAt
    )
    VALUES (
        @RecipientEmail,
        @RecipientName,
        @Subject,
        @Body,
        @NotificationType,
        @Priority,
        @ScheduledAt,
        @RelatedEntityId,
        @RelatedEntityType,
        'Pending',
        GETDATE()
    );

   SELECT CAST(SCOPE_IDENTITY() AS INT) AS NotificationId;
END
GO
