USE [KashmiriZamindarDB]
GO
/****** Object:  View [dbo].[vw_RecentOrdersWithDetails]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Helper: View Recent Orders with Details
-- ============================================
CREATE   VIEW [dbo].[vw_RecentOrdersWithDetails]
AS
SELECT 
    o.OrderId,
    o.OrderGuid,
    o.CustomerId,
    c.FirstName + ' ' + c.LastName AS CustomerName,
    o.CustomerEmail,
    o.CustomerPhone,
    o.PaymentType,
    o.PaymentStatus,
    o.OrderStatus,
    o.TotalAmount,
    o.CreatedAt,
    pt.RazorpayPaymentId,
    pt.Status AS TransactionStatus
FROM Orders o
LEFT JOIN Customers c ON o.CustomerId = c.CustomerId
LEFT JOIN PaymentTransactions pt ON o.OrderId = pt.OrderId
GO
