USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ToggleCustomerStatus]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Toggle Customer Active Status
CREATE   PROCEDURE [dbo].[sp_ToggleCustomerStatus]
    @UserGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsActive = CASE WHEN IsActive = 1 THEN 0 ELSE 1 END
    WHERE UserGuid = @UserGuid;

    SELECT IsActive
    FROM Users
    WHERE UserGuid = @UserGuid;
END
GO
