USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerValueSegments]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get Customer Lifetime Value Segments
CREATE   PROCEDURE [dbo].[sp_GetCustomerValueSegments]
AS
BEGIN
    SET NOCOUNT ON;

    WITH CustomerValues AS (
        SELECT 
            u.UserGuid,
            u.FirstName + ' ' + u.LastName AS Name,
            u.Email,
            ISNULL(SUM(o.TotalAmount), 0) AS LifetimeValue,
            COUNT(o.OrderId) AS TotalOrders
        FROM Users u
        LEFT JOIN Orders o ON u.UserId = o.CustomerId
        GROUP BY u.UserGuid, u.FirstName, u.LastName, u.Email
    )
    SELECT 
        CASE 
            WHEN LifetimeValue >= 50000 THEN 'VIP'
            WHEN LifetimeValue >= 20000 THEN 'High Value'
            WHEN LifetimeValue >= 5000 THEN 'Medium Value'
            WHEN LifetimeValue > 0 THEN 'Low Value'
            ELSE 'No Purchase'
        END AS Segment,
        COUNT(*) AS CustomerCount,
        AVG(LifetimeValue) AS AverageValue,
        SUM(LifetimeValue) AS TotalValue
    FROM CustomerValues
    GROUP BY 
        CASE 
            WHEN LifetimeValue >= 50000 THEN 'VIP'
            WHEN LifetimeValue >= 20000 THEN 'High Value'
            WHEN LifetimeValue >= 5000 THEN 'Medium Value'
            WHEN LifetimeValue > 0 THEN 'Low Value'
            ELSE 'No Purchase'
        END
    ORDER BY TotalValue DESC;
END
GO
