USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddToCart]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Add to Cart (Guest or User)
-- =============================================
CREATE   PROCEDURE [dbo].[usp_AddToCart]
    @SessionId NVARCHAR(100) = NULL,
    @UserGuid UNIQUEIDENTIFIER = NULL,
    @ProductGuid UNIQUEIDENTIFIER,
    @Quantity INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CartId INT;
    DECLARE @Price DECIMAL(18,2);
    DECLARE @CartItemId INT;

    -- Get product price
    SELECT @Price = Price 
    FROM Products 
    WHERE ProductGuid = @ProductGuid AND IsActive = 1;

    IF @Price IS NULL
    BEGIN
        RAISERROR('Product not found or inactive', 16, 1);
        RETURN;
    END

    -- Get or create cart (Priority: UserGuid > SessionId)
    IF @UserGuid IS NOT NULL
    BEGIN
        SELECT @CartId = CartId 
        FROM Carts 
        WHERE UserGuid = @UserGuid AND IsActive = 1;

        IF @CartId IS NULL
        BEGIN
            INSERT INTO Carts (UserGuid) 
            VALUES (@UserGuid);
            SET @CartId = SCOPE_IDENTITY();
        END
    END
    ELSE IF @SessionId IS NOT NULL
    BEGIN
        SELECT @CartId = CartId 
        FROM Carts 
        WHERE SessionId = @SessionId AND IsActive = 1;

        IF @CartId IS NULL
        BEGIN
            INSERT INTO Carts (SessionId) 
            VALUES (@SessionId);
            SET @CartId = SCOPE_IDENTITY();
        END
    END
    ELSE
    BEGIN
        RAISERROR('Either SessionId or UserGuid must be provided', 16, 1);
        RETURN;
    END

    -- Check if item already exists
    SELECT @CartItemId = CartItemId
    FROM CartItems
    WHERE CartId = @CartId AND ProductGuid = @ProductGuid;

    IF @CartItemId IS NOT NULL
    BEGIN
        -- Update quantity
        UPDATE CartItems
        SET Quantity = Quantity + @Quantity,
            PriceAtAdd = @Price
        WHERE CartItemId = @CartItemId;
    END
    ELSE
    BEGIN
        -- Insert new item
        INSERT INTO CartItems (CartId, ProductGuid, Quantity, PriceAtAdd)
        VALUES (@CartId, @ProductGuid, @Quantity, @Price);
        
        SET @CartItemId = SCOPE_IDENTITY();
    END

    -- Update cart timestamp
    UPDATE Carts 
    SET UpdatedAt = GETDATE() 
    WHERE CartId = @CartId;

    -- Return the cart item
    SELECT 
        ci.CartItemId,
        ci.ProductGuid,
        p.Name AS ProductName,
        ci.Quantity,
        p.Price
    FROM CartItems ci
    INNER JOIN Products p ON ci.ProductGuid = p.ProductGuid
    WHERE ci.CartItemId = @CartItemId;
END
GO
