USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateOrGetCustomer]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
-- Create or Get Customer (Upsert)
-- ============================================
CREATE   PROCEDURE [dbo].[usp_CreateOrGetCustomer]
(
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(150),
    @Phone NVARCHAR(50),
    @CustomerId INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if customer exists by email
    SELECT @CustomerId = CustomerId 
    FROM Customers 
    WHERE Email = @Email;

    -- If not found, create new customer
    IF @CustomerId IS NULL
    BEGIN
        INSERT INTO Customers (FirstName, LastName, Email, Phone, SubscribeMarketing, CreatedAt)
        VALUES (@FirstName, @LastName, @Email, @Phone, 0, GETDATE());
        
        SET @CustomerId = SCOPE_IDENTITY();
    END
END
GO
