USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddProduct]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_AddProduct]
(
    @Name NVARCHAR(200),
    @Category NVARCHAR(100),
    @Price DECIMAL(10,2),
    @Unit NVARCHAR(50),
    @Description NVARCHAR(MAX)
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NewProductGuid UNIQUEIDENTIFIER = NEWID();

    INSERT INTO Products
    (
        ProductGuid,
        Name,
        Category,
        Price,
        Unit,
        Description,
        IsActive
    )
    VALUES
    (
        @NewProductGuid,
        @Name,
        @Category,
        @Price,
        @Unit,
        @Description,
        1
    );

    -- return public id
    SELECT @NewProductGuid AS ProductGuid;
END
GO
