USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetInventoryHistory]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. Get Inventory History
-- =============================================
CREATE   PROCEDURE [dbo].[usp_GetInventoryHistory]
    @ProductGuid UNIQUEIDENTIFIER = NULL,
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        h.HistoryId,
        h.ProductGuid,
        p.Name AS ProductName,
        h.ChangeType,
        h.QuantityChange,
        h.PreviousQuantity,
        h.NewQuantity,
        h.Reason,
        h.ChangedBy,
        h.ChangedAt
    FROM InventoryHistory h
    INNER JOIN Products p ON h.ProductGuid = p.ProductGuid
    WHERE 
        (@ProductGuid IS NULL OR h.ProductGuid = @ProductGuid)
        AND h.ChangedAt >= DATEADD(DAY, -@Days, GETDATE())
    ORDER BY h.ChangedAt DESC;
END
GO
