USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrderDetailsComplete]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetOrderDetailsComplete]
    @OrderGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- =========================
    -- Order info
    -- =========================
    SELECT
        o.OrderGuid,
        o.OrderId,
        COALESCE(c.FirstName + ' ' + c.LastName, 'Guest') AS CustomerName,
        ISNULL(o.CustomerEmail, '') AS CustomerEmail,
        ISNULL(o.CustomerPhone, '') AS CustomerPhone,
        ISNULL(o.Subtotal, 0) AS Subtotal,
        ISNULL(o.Tax, 0) AS Tax,
        ISNULL(o.Shipping, 0) AS Shipping,
        ISNULL(o.TotalAmount, 0) AS TotalAmount,
        ISNULL(o.OrderStatus, 'Unknown') AS OrderStatus,
        ISNULL(o.PaymentStatus, 'Unknown') AS PaymentStatus,
        ISNULL(o.PaymentType, 'Unknown') AS PaymentType,
        o.CreatedAt,
        ISNULL(o.ShippingAddress, '') AS ShippingAddress,
        ISNULL(o.BillingAddress, '') AS BillingAddress,
        ISNULL(o.DeliveryInstructions, '') AS DeliveryInstructions,
        ISNULL(o.OrderNotes, '') AS OrderNotes
    FROM Orders o
    LEFT JOIN Customers c ON o.CustomerId = c.CustomerId
    WHERE o.OrderGuid = @OrderGuid;

    -- =========================
    -- Order items
    -- =========================
    SELECT
        oi.OrderItemId,
        oi.ProductGuid,
        ISNULL(oi.ProductName, 'Unknown') AS ProductName,
        ISNULL(oi.Quantity, 0) AS Quantity,
        ISNULL(oi.Price, 0) AS Price,
        ISNULL(oi.Subtotal, 0) AS Subtotal,
        ISNULL(p.ImageUrl, '') AS ImageUrl,
        ISNULL(p.StockQuantity, 0) AS StockQuantity
    FROM OrderItems oi
    INNER JOIN Orders o ON oi.OrderId = o.OrderId
    LEFT JOIN Products p ON oi.ProductGuid = p.ProductGuid
    WHERE o.OrderGuid = @OrderGuid;
END
GO
