USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveEmailTemplate]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   8. Create/Update Email Template
========================================================= */
CREATE   PROCEDURE [dbo].[sp_SaveEmailTemplate]
    @TemplateName NVARCHAR(100),
    @Subject NVARCHAR(500),
    @BodyTemplate NVARCHAR(MAX),
    @Description NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM EmailTemplates WHERE TemplateName = @TemplateName)
    BEGIN
        UPDATE EmailTemplates
        SET 
            Subject = @Subject,
            BodyTemplate = @BodyTemplate,
            Description = @Description,
            UpdatedAt = GETDATE()
        WHERE TemplateName = @TemplateName;
    END
    ELSE
    BEGIN
        INSERT INTO EmailTemplates (
            TemplateName,
            Subject,
            BodyTemplate,
            Description,
            IsActive,
            CreatedAt
        )
        VALUES (
            @TemplateName,
            @Subject,
            @BodyTemplate,
            @Description,
            1,
            GETDATE()
        );
    END

    SELECT @@ROWCOUNT AS RowsAffected;
END
GO
