USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventoryReports]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   5. INVENTORY REPORTS
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetInventoryReports]
AS
BEGIN
    SET NOCOUNT ON;

    -- Current Stock Status
    SELECT 
        p.ProductGuid,
        p.Name AS ProductName,
        p.Category,
        p.Price,
        ISNULL(p.StockQuantity, 0) AS StockQuantity,
        ISNULL(p.LowStockThreshold, 10) AS LowStockThreshold,
        CASE 
            WHEN ISNULL(p.StockQuantity, 0) = 0 THEN 'Out of Stock'
            WHEN ISNULL(p.StockQuantity, 0) <= ISNULL(p.LowStockThreshold, 10) THEN 'Low Stock'
            ELSE 'In Stock'
        END AS StockStatus,
        ISNULL(p.StockQuantity, 0) * p.Price AS StockValue
    FROM Products p
    WHERE p.IsActive = 1
    ORDER BY StockStatus, p.Name;

    -- Stock Movement (Last 30 Days)
    SELECT TOP 20
        ih.ProductGuid,
        p.Name AS ProductName,
        ih.ChangeType,
        SUM(ih.QuantityChange) AS TotalChange,
        COUNT(ih.HistoryId) AS TransactionCount
    FROM InventoryHistory ih
    INNER JOIN Products p ON ih.ProductGuid = p.ProductGuid
    WHERE ih.ChangedAt >= DATEADD(DAY, -30, GETDATE())
    GROUP BY ih.ProductGuid, p.Name, ih.ChangeType
    ORDER BY TotalChange DESC;

    -- Stock Alerts Summary
    SELECT 
        COUNT(CASE WHEN ISNULL(p.StockQuantity, 0) = 0 THEN 1 END) AS OutOfStockCount,
        COUNT(CASE WHEN ISNULL(p.StockQuantity, 0) > 0 AND ISNULL(p.StockQuantity, 0) <= ISNULL(p.LowStockThreshold, 10) THEN 1 END) AS LowStockCount,
        COUNT(CASE WHEN ISNULL(p.StockQuantity, 0) > ISNULL(p.LowStockThreshold, 10) THEN 1 END) AS InStockCount,
        ISNULL(SUM(ISNULL(p.StockQuantity, 0) * p.Price), 0) AS TotalStockValue
    FROM Products p
    WHERE p.IsActive = 1;
END
GO
