USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[EmailNotifications]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailNotifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[NotificationGuid] [uniqueidentifier] NOT NULL,
	[RecipientEmail] [nvarchar](255) NOT NULL,
	[RecipientName] [nvarchar](255) NULL,
	[Subject] [nvarchar](500) NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[ScheduledAt] [datetime] NULL,
	[SentAt] [datetime] NULL,
	[FailureReason] [nvarchar](500) NULL,
	[RetryCount] [int] NULL,
	[RelatedEntityId] [nvarchar](100) NULL,
	[RelatedEntityType] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EmailNotifications] ON 

SET IDENTITY_INSERT [dbo].[EmailNotifications] OFF
GO
/****** Object:  Index [UQ__EmailNot__6797324BAE0201E1]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[EmailNotifications] ADD UNIQUE NONCLUSTERED 
(
	[NotificationGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmailNotifications_CreatedAt]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_EmailNotifications_CreatedAt] ON [dbo].[EmailNotifications]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailNotifications_Status]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_EmailNotifications_Status] ON [dbo].[EmailNotifications]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EmailNotifications_Type]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_EmailNotifications_Type] ON [dbo].[EmailNotifications]
(
	[NotificationType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmailNotifications] ADD  DEFAULT (newid()) FOR [NotificationGuid]
GO
ALTER TABLE [dbo].[EmailNotifications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[EmailNotifications] ADD  DEFAULT ('Normal') FOR [Priority]
GO
ALTER TABLE [dbo].[EmailNotifications] ADD  DEFAULT ((0)) FOR [RetryCount]
GO
ALTER TABLE [dbo].[EmailNotifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmailNotifications] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
