USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdatePaymentTransaction]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- UPDATE PAYMENT TRANSACTION
-- ============================================
CREATE   PROCEDURE [dbo].[usp_UpdatePaymentTransaction]
(
    @PaymentTransactionId INT,
    @RazorpayPaymentId NVARCHAR(255),
    @RazorpaySignature NVARCHAR(500),
    @Status NVARCHAR(50),
    @ErrorMessage NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PaymentTransactions
    SET
        RazorpayPaymentId = @RazorpayPaymentId,
        RazorpaySignature = @RazorpaySignature,
        Status = @Status,
        CompletedAt = CASE WHEN @Status = 'Success' THEN GETDATE() ELSE CompletedAt END,
        ErrorMessage = @ErrorMessage
    WHERE PaymentTransactionId = @PaymentTransactionId;
END
GO
