USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPaymentTransactionByOrderId]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- GET PAYMENT TRANSACTION BY ORDER ID
-- ============================================
CREATE   PROCEDURE [dbo].[usp_GetPaymentTransactionByOrderId]
(
    @OrderId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        PaymentTransactionId,
        OrderId,
        PaymentGateway,
        TransactionId,
        RazorpayOrderId,
        RazorpayPaymentId,
        RazorpaySignature,
        Amount,
        Currency,
        Status,
        PaymentMethod,
        CreatedAt,
        CompletedAt,
        ErrorMessage
    FROM PaymentTransactions
    WHERE OrderId = @OrderId
    ORDER BY CreatedAt DESC;
END
GO
