USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProductsForAdmin]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetProductsForAdmin]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.ProductGuid,
        p.Name,
        p.Category,
        p.Price,
        p.Unit,
        p.Description,
        ISNULL(pi.ImageUrl, '') AS ImageUrl,
        p.IsActive,
        ISNULL(SUM(oi.Quantity), 0) AS TotalSold,
        ISNULL(SUM(oi.Subtotal), 0) AS TotalRevenue
    FROM Products p
    LEFT JOIN ProductImages pi
        ON p.ProductGuid = pi.ProductGuid
        AND pi.IsPrimary = 1
    LEFT JOIN OrderItems oi
        ON p.ProductGuid = oi.ProductGuid
    GROUP BY
        p.ProductGuid,
        p.Name,
        p.Category,
        p.Price,
        p.Unit,
        p.Description,
        pi.ImageUrl,
        p.IsActive
    ORDER BY p.Name;
END
GO
