USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[PaymentType] [nvarchar](50) NULL,
	[CardNumber] [nvarchar](50) NULL,
	[CardExpiry] [nvarchar](10) NULL,
	[CardCVV] [nvarchar](10) NULL,
	[NameOnCard] [nvarchar](100) NULL,
	[BillingAddress] [nvarchar](max) NULL,
	[Paid] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentType], [CardNumber], [CardExpiry], [CardCVV], [NameOnCard], [BillingAddress], [Paid], [CreatedAt]) VALUES (1, 1, N'COD', N'', N'', N'', N'', N'Rainawari, Srinagar, Jammu & Kashmir, 190003, India', 0, CAST(N'2025-12-29T19:15:49.833' AS DateTime))
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentType], [CardNumber], [CardExpiry], [CardCVV], [NameOnCard], [BillingAddress], [Paid], [CreatedAt]) VALUES (2, 2, N'Card', N'23456789', N'12/99', N'477', N'Faisal', N'near jamia masjid, anantnag, jammu and kashmir, 4567, India', 0, CAST(N'2025-12-29T23:03:17.057' AS DateTime))
INSERT [dbo].[Payments] ([PaymentId], [OrderId], [PaymentType], [CardNumber], [CardExpiry], [CardCVV], [NameOnCard], [BillingAddress], [Paid], [CreatedAt]) VALUES (3, 4, N'COD', N'', N'', N'', N'', N'mtv , anantnag, jammu and kashmir, 4567, India', 0, CAST(N'2025-12-29T23:26:50.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ((0)) FOR [Paid]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
