USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_CheckEmailExists]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. Check if Email Exists
-- =============================================
CREATE   PROCEDURE [dbo].[usp_CheckEmailExists]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(*)
    FROM Users
    WHERE Email = @Email;
END
GO
