USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRevenueReports]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   4. REVENUE REPORTS
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetRevenueReports]
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Daily Revenue
    SELECT 
        CAST(o.CreatedAt AS DATE) AS Date,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalRevenue,
        ISNULL(SUM(o.Subtotal), 0) AS Subtotal,
        ISNULL(SUM(o.Tax), 0) AS Tax,
        ISNULL(SUM(o.Shipping), 0) AS Shipping,
        COUNT(DISTINCT o.OrderId) AS OrderCount
    FROM Orders o
    WHERE CAST(o.CreatedAt AS DATE) BETWEEN @StartDate AND @EndDate
    GROUP BY CAST(o.CreatedAt AS DATE)
    ORDER BY Date;

    -- Payment Method Breakdown
    SELECT 
        o.PaymentType,
        COUNT(DISTINCT o.OrderId) AS OrderCount,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalRevenue,
        ISNULL(AVG(o.TotalAmount), 0) AS AverageOrderValue
    FROM Orders o
    WHERE CAST(o.CreatedAt AS DATE) BETWEEN @StartDate AND @EndDate
    GROUP BY o.PaymentType
    ORDER BY TotalRevenue DESC;

    -- Revenue by Category
    SELECT 
        p.Category,
        ISNULL(SUM(oi.Subtotal), 0) AS Revenue,
        COUNT(DISTINCT oi.OrderId) AS OrderCount,
        ISNULL(SUM(oi.Quantity), 0) AS TotalQuantity
    FROM Orders o
    INNER JOIN OrderItems oi ON o.OrderId = oi.OrderId
    INNER JOIN Products p ON oi.ProductGuid = p.ProductGuid
    WHERE CAST(o.CreatedAt AS DATE) BETWEEN @StartDate AND @EndDate
    GROUP BY p.Category
    ORDER BY Revenue DESC;

    -- Summary
    SELECT 
        ISNULL(SUM(o.TotalAmount), 0) AS TotalRevenue,
        ISNULL(SUM(o.Subtotal), 0) AS TotalSubtotal,
        ISNULL(SUM(o.Tax), 0) AS TotalTax,
        ISNULL(SUM(o.Shipping), 0) AS TotalShipping,
        COUNT(DISTINCT o.OrderId) AS TotalOrders,
        ISNULL(AVG(o.TotalAmount), 0) AS AverageOrderValue,
        COUNT(DISTINCT o.CustomerId) AS UniqueCustomers
    FROM Orders o
    WHERE CAST(o.CreatedAt AS DATE) BETWEEN @StartDate AND @EndDate;
END
GO
