USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetOrderFulfillmentReport]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   6. ORDER FULFILLMENT REPORT
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetOrderFulfillmentReport]
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME = DATEADD(DAY, -@Days, GETDATE());

    -- Order Status Breakdown
    SELECT 
        o.OrderStatus,
        COUNT(DISTINCT o.OrderId) AS OrderCount,
        ISNULL(SUM(o.TotalAmount), 0) AS Revenue,
        ISNULL(AVG(DATEDIFF(DAY, o.CreatedAt, 
            CASE 
                WHEN o.OrderStatus = 'Delivered' THEN o.UpdatedAt 
                ELSE GETDATE() 
            END)), 0) AS AverageDays
    FROM Orders o
    WHERE o.CreatedAt >= @StartDate
    GROUP BY o.OrderStatus
    ORDER BY OrderCount DESC;

    -- Delivery Performance
    SELECT 
        CAST(o.CreatedAt AS DATE) AS Date,
        COUNT(CASE WHEN o.OrderStatus = 'Delivered' THEN 1 END) AS DeliveredOrders,
        COUNT(CASE WHEN o.OrderStatus = 'Cancelled' THEN 1 END) AS CancelledOrders,
        COUNT(CASE WHEN o.OrderStatus IN ('Pending', 'Processing', 'Shipped') THEN 1 END) AS PendingOrders
    FROM Orders o
    WHERE o.CreatedAt >= @StartDate
    GROUP BY CAST(o.CreatedAt AS DATE)
    ORDER BY Date;

    -- Average Fulfillment Time
    SELECT 
        ISNULL(AVG(DATEDIFF(DAY, o.CreatedAt, o.UpdatedAt)), 0) AS AverageFulfillmentDays,
        ISNULL(MIN(DATEDIFF(DAY, o.CreatedAt, o.UpdatedAt)), 0) AS MinFulfillmentDays,
        ISNULL(MAX(DATEDIFF(DAY, o.CreatedAt, o.UpdatedAt)), 0) AS MaxFulfillmentDays
    FROM Orders o
    WHERE o.OrderStatus = 'Delivered'
        AND o.CreatedAt >= @StartDate
        AND o.UpdatedAt IS NOT NULL;
END
GO
