USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateLowStockThreshold]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 10. Update Low Stock Threshold
-- =============================================
CREATE   PROCEDURE [dbo].[usp_UpdateLowStockThreshold]
    @ProductGuid UNIQUEIDENTIFIER,
    @Threshold INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Products
    SET LowStockThreshold = @Threshold
    WHERE ProductGuid = @ProductGuid;
END
GO
