USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateOrderStatus]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_UpdateOrderStatus]
    @OrderGuid UNIQUEIDENTIFIER,
    @OrderStatus NVARCHAR(50),
    @PaymentStatus NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Orders
    SET
        OrderStatus = @OrderStatus,
        PaymentStatus = @PaymentStatus,
        Status = @OrderStatus
    WHERE OrderGuid = @OrderGuid;
END
GO
