USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_MergeGuestCartToUser]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 6. Merge Guest Cart to User Cart (On Login)
-- =============================================
CREATE   PROCEDURE [dbo].[usp_MergeGuestCartToUser]
    @GuestSessionId NVARCHAR(100),
    @UserGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @GuestCartId INT;
        DECLARE @UserCartId INT;

        -- Get guest cart
        SELECT @GuestCartId = CartId 
        FROM Carts 
        WHERE SessionId = @GuestSessionId AND IsActive = 1;

        IF @GuestCartId IS NULL
        BEGIN
            COMMIT TRANSACTION;
            RETURN;
        END

        -- Get or create user cart
        SELECT @UserCartId = CartId 
        FROM Carts 
        WHERE UserGuid = @UserGuid AND IsActive = 1;

        IF @UserCartId IS NULL
        BEGIN
            INSERT INTO Carts (UserGuid)
            VALUES (@UserGuid);
            SET @UserCartId = SCOPE_IDENTITY();
        END

        -- Merge items: Update quantities if product exists, otherwise move item
        DECLARE @ProductGuid UNIQUEIDENTIFIER;
        DECLARE @Quantity INT;
        DECLARE @PriceAtAdd DECIMAL(18,2);

        DECLARE cart_cursor CURSOR FOR
        SELECT ProductGuid, Quantity, PriceAtAdd
        FROM CartItems
        WHERE CartId = @GuestCartId;

        OPEN cart_cursor;
        FETCH NEXT FROM cart_cursor INTO @ProductGuid, @Quantity, @PriceAtAdd;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF EXISTS (SELECT 1 FROM CartItems WHERE CartId = @UserCartId AND ProductGuid = @ProductGuid)
            BEGIN
                -- Update existing item quantity
                UPDATE CartItems
                SET Quantity = Quantity + @Quantity,
                    PriceAtAdd = @PriceAtAdd
                WHERE CartId = @UserCartId AND ProductGuid = @ProductGuid;
            END
            ELSE
            BEGIN
                -- Move item to user cart
                UPDATE CartItems
                SET CartId = @UserCartId
                WHERE CartId = @GuestCartId AND ProductGuid = @ProductGuid;
            END

            FETCH NEXT FROM cart_cursor INTO @ProductGuid, @Quantity, @PriceAtAdd;
        END

        CLOSE cart_cursor;
        DEALLOCATE cart_cursor;

        -- Deactivate guest cart
        UPDATE Carts
        SET IsActive = 0, UpdatedAt = GETDATE()
        WHERE CartId = @GuestCartId;

        -- Update user cart timestamp
        UPDATE Carts
        SET UpdatedAt = GETDATE()
        WHERE CartId = @UserCartId;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
