USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesAnalytics]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   1. SALES ANALYTICS
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetSalesAnalytics]
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME = DATEADD(DAY, -@Days, GETDATE());

    -- Daily Sales Data
    SELECT 
        CAST(o.CreatedAt AS DATE) AS Date,
        COUNT(DISTINCT o.OrderId) AS OrderCount,
        ISNULL(SUM(o.TotalAmount), 0) AS Revenue,
        ISNULL(AVG(o.TotalAmount), 0) AS AverageOrderValue,
        COUNT(DISTINCT o.CustomerId) AS UniqueCustomers
    FROM Orders o
    WHERE o.CreatedAt >= @StartDate
    GROUP BY CAST(o.CreatedAt AS DATE)
    ORDER BY Date;

    -- Sales Summary
    SELECT 
        COUNT(DISTINCT o.OrderId) AS TotalOrders,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalRevenue,
        ISNULL(AVG(o.TotalAmount), 0) AS AverageOrderValue,
        COUNT(DISTINCT o.CustomerId) AS TotalCustomers,
        ISNULL(SUM(CASE WHEN o.OrderStatus = 'Delivered' THEN o.TotalAmount ELSE 0 END), 0) AS DeliveredRevenue,
        ISNULL(SUM(CASE WHEN o.OrderStatus = 'Cancelled' THEN o.TotalAmount ELSE 0 END), 0) AS CancelledRevenue
    FROM Orders o
    WHERE o.CreatedAt >= @StartDate;

    -- Hourly Pattern
    SELECT 
        DATEPART(HOUR, o.CreatedAt) AS Hour,
        COUNT(DISTINCT o.OrderId) AS OrderCount,
        ISNULL(SUM(o.TotalAmount), 0) AS Revenue
    FROM Orders o
    WHERE o.CreatedAt >= @StartDate
    GROUP BY DATEPART(HOUR, o.CreatedAt)
    ORDER BY Hour;

    -- Day of Week Pattern
    SELECT 
        DATENAME(WEEKDAY, o.CreatedAt) AS DayOfWeek,
        DATEPART(WEEKDAY, o.CreatedAt) AS DayNumber,
        COUNT(DISTINCT o.OrderId) AS OrderCount,
        ISNULL(SUM(o.TotalAmount), 0) AS Revenue
    FROM Orders o
    WHERE o.CreatedAt >= @StartDate
    GROUP BY DATENAME(WEEKDAY, o.CreatedAt), DATEPART(WEEKDAY, o.CreatedAt)
    ORDER BY DayNumber;
END
GO
