USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExecutiveSummary]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   8. EXECUTIVE SUMMARY
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetExecutiveSummary]
AS
BEGIN
    SET NOCOUNT ON;

    -- Overall Metrics
    SELECT 
        -- Orders
        (SELECT COUNT(DISTINCT OrderId) FROM Orders) AS TotalOrders,
        (SELECT ISNULL(SUM(TotalAmount), 0) FROM Orders) AS TotalRevenue,
        (SELECT ISNULL(AVG(TotalAmount), 0) FROM Orders) AS AverageOrderValue,
        
        -- Customers
        (SELECT COUNT(DISTINCT CustomerId) FROM Orders) AS TotalCustomers,
        (SELECT COUNT(*) FROM Users) AS RegisteredUsers,
        
        -- Products
        (SELECT COUNT(*) FROM Products) AS TotalProducts,
        (SELECT COUNT(*) FROM Products WHERE IsActive = 1) AS ActiveProducts,
        
        -- Recent Activity (30 days)
        (SELECT COUNT(*) FROM Orders WHERE CreatedAt >= DATEADD(DAY, -30, GETDATE())) AS OrdersLast30Days,
        (SELECT ISNULL(SUM(TotalAmount), 0) FROM Orders WHERE CreatedAt >= DATEADD(DAY, -30, GETDATE())) AS RevenueLast30Days,
        (SELECT COUNT(*) FROM Users WHERE CreatedAt >= DATEADD(DAY, -30, GETDATE())) AS NewCustomersLast30Days;

    -- Top 5 Products
    SELECT TOP 5
        p.Name AS ProductName,
        p.Category,
        ISNULL(SUM(oi.Quantity), 0) AS TotalSold,
        ISNULL(SUM(oi.Subtotal), 0) AS TotalRevenue
    FROM Products p
    INNER JOIN OrderItems oi ON p.ProductGuid = oi.ProductGuid
    GROUP BY p.Name, p.Category
    ORDER BY TotalRevenue DESC;

    -- Recent Growth (Last 7 Days vs Previous 7 Days)
    SELECT 
        (SELECT ISNULL(SUM(TotalAmount), 0) FROM Orders WHERE CreatedAt >= DATEADD(DAY, -7, GETDATE())) AS RecentRevenue,
        (SELECT ISNULL(SUM(TotalAmount), 0) FROM Orders WHERE CreatedAt >= DATEADD(DAY, -14, GETDATE()) AND CreatedAt < DATEADD(DAY, -7, GETDATE())) AS PreviousRevenue,
        (SELECT COUNT(*) FROM Orders WHERE CreatedAt >= DATEADD(DAY, -7, GETDATE())) AS RecentOrders,
        (SELECT COUNT(*) FROM Orders WHERE CreatedAt >= DATEADD(DAY, -14, GETDATE()) AND CreatedAt < DATEADD(DAY, -7, GETDATE())) AS PreviousOrders;
END
GO
