USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTopCustomers]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTopCustomers]
    @TopCount INT = 10,
    @OrderBy NVARCHAR(20) = 'Spending'
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@TopCount)
        u.UserGuid,
        CONCAT(u.FirstName, ' ', u.LastName) AS Name,
        u.Email,
        u.PhoneNumber,
        COUNT(o.OrderId) AS TotalOrders,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalSpent,
        ISNULL(AVG(o.TotalAmount), 0) AS AverageOrderValue,
        MAX(o.CreatedAt) AS LastOrderDate
    FROM Users u
    INNER JOIN Orders o ON u.UserId = o.CustomerId
    GROUP BY
        u.UserGuid,
        u.FirstName,
        u.LastName,
        u.Email,
        u.PhoneNumber
    HAVING COUNT(o.OrderId) > 0
    ORDER BY
        CASE WHEN @OrderBy = 'Orders' THEN COUNT(o.OrderId) END DESC,
        CASE WHEN @OrderBy = 'Spending' THEN SUM(o.TotalAmount) END DESC;
END
GO
