USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[InventoryHistory]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryHistory](
	[HistoryId] [int] IDENTITY(1,1) NOT NULL,
	[ProductGuid] [uniqueidentifier] NOT NULL,
	[ChangeType] [nvarchar](50) NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[PreviousQuantity] [int] NOT NULL,
	[NewQuantity] [int] NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[ChangedBy] [nvarchar](200) NULL,
	[ChangedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InventoryHistory] ON 

INSERT [dbo].[InventoryHistory] ([HistoryId], [ProductGuid], [ChangeType], [QuantityChange], [PreviousQuantity], [NewQuantity], [Reason], [ChangedBy], [ChangedAt]) VALUES (1, N'd1750bed-d146-4d1d-ad00-347506649162', N'Adjustment', 200, 100, 300, N'no reason', N'Admin', CAST(N'2026-01-01T02:03:05.0466667' AS DateTime2))
INSERT [dbo].[InventoryHistory] ([HistoryId], [ProductGuid], [ChangeType], [QuantityChange], [PreviousQuantity], [NewQuantity], [Reason], [ChangedBy], [ChangedAt]) VALUES (2, N'1dbc90fa-2199-42d5-b157-44d163b63d80', N'Return', 10, 100, 110, N'no', N'Admin', CAST(N'2026-01-01T21:34:33.4500000' AS DateTime2))
INSERT [dbo].[InventoryHistory] ([HistoryId], [ProductGuid], [ChangeType], [QuantityChange], [PreviousQuantity], [NewQuantity], [Reason], [ChangedBy], [ChangedAt]) VALUES (4, N'c8e5229d-5977-4e7c-8725-13a6138334df', N'Adjustment', 10, 0, 10, N'', N'Admin', CAST(N'2026-01-04T16:19:14.3066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[InventoryHistory] OFF
GO
ALTER TABLE [dbo].[InventoryHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[InventoryHistory]  WITH CHECK ADD FOREIGN KEY([ProductGuid])
REFERENCES [dbo].[Products] ([ProductGuid])
GO
