USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmailNotificationHistory]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   2. Get Email Notification History
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetEmailNotificationHistory]
    @Days INT = 30,
    @Status NVARCHAR(50) = NULL,
    @NotificationType NVARCHAR(50) = NULL,
    @Page INT = 1,
    @PageSize INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;
    DECLARE @StartDate DATETIME = DATEADD(DAY, -@Days, GETDATE());

    SELECT 
        NotificationGuid,
        RecipientEmail,
        RecipientName,
        Subject,
        NotificationType,
        Status,
        Priority,
        ScheduledAt,
        SentAt,
        FailureReason,
        RetryCount,
        RelatedEntityId,
        RelatedEntityType,
        CreatedAt,
        (SELECT COUNT(*) 
         FROM EmailNotifications 
         WHERE CreatedAt >= @StartDate
            AND (@Status IS NULL OR Status = @Status)
            AND (@NotificationType IS NULL OR NotificationType = @NotificationType)
        ) AS TotalCount
    FROM EmailNotifications
    WHERE CreatedAt >= @StartDate
        AND (@Status IS NULL OR Status = @Status)
        AND (@NotificationType IS NULL OR NotificationType = @NotificationType)
    ORDER BY CreatedAt DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
