USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetTopProducts]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetTopProducts]
    @Top INT = 5
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Top)
        p.ProductGuid,
        p.Name AS ProductName,
        p.Category,
        pi.ImageUrl,               -- ✅ image from ProductImages
        SUM(oi.Quantity) AS TotalSold,
        SUM(oi.Subtotal) AS TotalRevenue
    FROM OrderItems oi
    INNER JOIN Products p 
        ON oi.ProductGuid = p.ProductGuid
    INNER JOIN Orders o 
        ON oi.OrderId = o.OrderId
    LEFT JOIN ProductImages pi 
        ON pi.ProductGuid = p.ProductGuid
       AND pi.IsPrimary = 1        -- ✅ pick main image
    WHERE o.PaymentStatus = 'Paid'
    GROUP BY 
        p.ProductGuid,
        p.Name,
        p.Category,
        pi.ImageUrl
    ORDER BY TotalRevenue DESC;
END
GO
