USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_RemoveCartItem]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. Remove Cart Item
-- =============================================
CREATE   PROCEDURE [dbo].[usp_RemoveCartItem]
    @SessionId NVARCHAR(100) = NULL,
    @UserGuid UNIQUEIDENTIFIER = NULL,
    @CartItemId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE ci
    FROM CartItems ci
    INNER JOIN Carts c ON ci.CartId = c.CartId
    WHERE ci.CartItemId = @CartItemId
        AND c.IsActive = 1
        AND (
            (@UserGuid IS NOT NULL AND c.UserGuid = @UserGuid) OR
            (@SessionId IS NOT NULL AND c.SessionId = @SessionId)
        );

    -- Update cart timestamp
    UPDATE c
    SET c.UpdatedAt = GETDATE()
    FROM Carts c
    WHERE c.CartId IN (
        SELECT ci.CartId FROM CartItems ci WHERE ci.CartItemId = @CartItemId
    );
END
GO
