USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[SubscribeMarketing] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [Email], [Phone], [SubscribeMarketing], [CreatedAt]) VALUES (1, N'Fayaz', N'Wani', N'fayaz.wani@test.com', N'9876543210', 1, CAST(N'2025-12-29T19:15:49.740' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [Email], [Phone], [SubscribeMarketing], [CreatedAt]) VALUES (2, N'Faisal', N'wani', N'ersam3956@gmail.com', N'3456789876', 1, CAST(N'2025-12-29T23:03:16.953' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [Email], [Phone], [SubscribeMarketing], [CreatedAt]) VALUES (3, N'Amir', N'wani', N'ersam3956@gmail.com', N'3456789876', 1, CAST(N'2025-12-29T23:18:21.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [SubscribeMarketing]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
