USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductAnalytics]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   2. PRODUCT ANALYTICS
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetProductAnalytics]
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME = DATEADD(DAY, -@Days, GETDATE());

    -- Top Products by Revenue
    SELECT TOP 10
        p.ProductGuid,
        p.Name AS ProductName,
        p.Category,
        p.Price,
        COUNT(DISTINCT oi.OrderItemId) AS TimesSold,
        ISNULL(SUM(oi.Quantity), 0) AS TotalQuantity,
        ISNULL(SUM(oi.Subtotal), 0) AS TotalRevenue,
        ISNULL(AVG(oi.Price), 0) AS AveragePrice
    FROM Products p
    INNER JOIN OrderItems oi ON p.ProductGuid = oi.ProductGuid
    INNER JOIN Orders o ON oi.OrderId = o.OrderId
    WHERE o.CreatedAt >= @StartDate
    GROUP BY p.ProductGuid, p.Name, p.Category, p.Price
    ORDER BY TotalRevenue DESC;

    -- Category Performance
    SELECT 
        p.Category,
        COUNT(DISTINCT p.ProductGuid) AS ProductCount,
        COUNT(DISTINCT oi.OrderItemId) AS TotalSales,
        ISNULL(SUM(oi.Quantity), 0) AS TotalQuantity,
        ISNULL(SUM(oi.Subtotal), 0) AS TotalRevenue,
        ISNULL(AVG(oi.Price), 0) AS AveragePrice
    FROM Products p
    LEFT JOIN OrderItems oi ON p.ProductGuid = oi.ProductGuid
    LEFT JOIN Orders o ON oi.OrderId = o.OrderId AND o.CreatedAt >= @StartDate
    GROUP BY p.Category
    ORDER BY TotalRevenue DESC;

    -- Low Performers
    SELECT TOP 10
        p.ProductGuid,
        p.Name AS ProductName,
        p.Category,
        p.Price,
        ISNULL(COUNT(DISTINCT oi.OrderItemId), 0) AS TimesSold,
        ISNULL(SUM(oi.Quantity), 0) AS TotalQuantity,
        ISNULL(SUM(oi.Subtotal), 0) AS TotalRevenue
    FROM Products p
    LEFT JOIN OrderItems oi ON p.ProductGuid = oi.ProductGuid
    LEFT JOIN Orders o ON oi.OrderId = o.OrderId AND o.CreatedAt >= @StartDate
    WHERE p.IsActive = 1
    GROUP BY p.ProductGuid, p.Name, p.Category, p.Price
    ORDER BY TotalRevenue ASC;
END
GO
