USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmailNotificationStatistics]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   3. Get Email Notification Statistics
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetEmailNotificationStatistics]
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartDate DATETIME = DATEADD(DAY, -@Days, GETDATE());

    -- Overall Statistics
    SELECT 
        COUNT(*) AS TotalNotifications,
        COUNT(CASE WHEN Status = 'Sent' THEN 1 END) AS SentCount,
        COUNT(CASE WHEN Status = 'Failed' THEN 1 END) AS FailedCount,
        COUNT(CASE WHEN Status = 'Pending' THEN 1 END) AS PendingCount,
  CAST(
        CASE 
            WHEN COUNT(*) = 0 THEN 0
            ELSE (COUNT(CASE WHEN Status = 'Sent' THEN 1 END) * 100.0) / COUNT(*)
        END
    AS DECIMAL(10,2)) AS SuccessRate,

    -- ✅ FIX 2: AvgDeliveryTimeSeconds → DECIMAL
    CAST(
        AVG(
            CASE 
                WHEN Status = 'Sent' AND SentAt IS NOT NULL
                THEN DATEDIFF(SECOND, CreatedAt, SentAt)
            END
        )
    AS DECIMAL(10,2)) AS AvgDeliveryTimeSeconds
    FROM EmailNotifications
    WHERE CreatedAt >= @StartDate;

    -- By Type
    SELECT 
        NotificationType,
        COUNT(*) AS TotalCount,
        COUNT(CASE WHEN Status = 'Sent' THEN 1 END) AS SentCount,
        COUNT(CASE WHEN Status = 'Failed' THEN 1 END) AS FailedCount,
        COUNT(CASE WHEN Status = 'Pending' THEN 1 END) AS PendingCount
    FROM EmailNotifications
    WHERE CreatedAt >= @StartDate
    GROUP BY NotificationType
    ORDER BY TotalCount DESC;

    -- Daily Trend
    SELECT 
        CAST(CreatedAt AS DATE) AS Date,
        COUNT(*) AS TotalCount,
        COUNT(CASE WHEN Status = 'Sent' THEN 1 END) AS SentCount,
        COUNT(CASE WHEN Status = 'Failed' THEN 1 END) AS FailedCount
    FROM EmailNotifications
    WHERE CreatedAt >= @StartDate
    GROUP BY CAST(CreatedAt AS DATE)
    ORDER BY Date;
END
GO
