USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_ChangePassword]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 7. Change Password
-- =============================================
CREATE   PROCEDURE [dbo].[usp_ChangePassword]
    @UserGuid UNIQUEIDENTIFIER,
    @NewPasswordHash NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET PasswordHash = @NewPasswordHash
    WHERE UserGuid = @UserGuid;
END
GO
