USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetRevenueByDateRange]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 9. Get Revenue by Date Range
-- =============================================
CREATE   PROCEDURE [dbo].[usp_GetRevenueByDateRange]
    @FromDate DATETIME2,
    @ToDate DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CAST(CreatedAt AS DATE) AS OrderDate,
        COUNT(*) AS OrderCount,
        SUM(TotalAmount) AS DailyRevenue,
        AVG(TotalAmount) AS AvgOrderValue
    FROM Orders
    WHERE 
        CreatedAt >= @FromDate 
        AND CreatedAt <= @ToDate
        AND PaymentStatus = 'Paid'
    GROUP BY CAST(CreatedAt AS DATE)
    ORDER BY OrderDate;
END
GO
