USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByGuid]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 2. Get User by UserGuid
-- =============================================
CREATE   PROCEDURE [dbo].[usp_GetUserByGuid]
    @UserGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserId,
        UserGuid,
        Email,
        PasswordHash,
        FirstName,
        LastName,
        PhoneNumber,
        CreatedAt,
        IsActive
    FROM Users
    WHERE UserGuid = @UserGuid;
END
GO
