USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmailTemplateByName]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   7. Get Email Template by Name
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetEmailTemplateByName]
    @TemplateName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        TemplateGuid,
        TemplateName,
        Subject,
        BodyTemplate,
        Description,
        IsActive
    FROM EmailTemplates
    WHERE TemplateName = @TemplateName
        AND IsActive = 1;
END
GO
