USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateOrder]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- Create Order - Updated Version
-- ============================================
CREATE   PROCEDURE [dbo].[usp_CreateOrder]
(
    @OrderGuid UNIQUEIDENTIFIER,
    @CustomerId INT,
    @CustomerEmail NVARCHAR(150),
    @CustomerPhone NVARCHAR(50),
    @ShippingAddress NVARCHAR(MAX),
    @BillingAddress NVARCHAR(MAX),
    @PaymentType NVARCHAR(50),
    @PaymentStatus NVARCHAR(50),
    @OrderStatus NVARCHAR(50),
    @Subtotal DECIMAL(10,2),
    @Tax DECIMAL(10,2),
    @ShippingCost DECIMAL(10,2),
    @TotalAmount DECIMAL(10,2),
    @OrderId INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Orders 
    (
        OrderGuid,
        CustomerId,
        CustomerEmail,
        CustomerPhone,
        ShippingAddress,
        BillingAddress,
        PaymentType,
        PaymentStatus,
        OrderStatus,
        Subtotal,
        Tax,
        Shipping,
        ShippingCost,
        Total,
        TotalAmount,
        Status,
        CreatedAt
    )
    VALUES 
    (
        @OrderGuid,
        @CustomerId,
        @CustomerEmail,
        @CustomerPhone,
        @ShippingAddress,
        @BillingAddress,
        @PaymentType,
        @PaymentStatus,
        @OrderStatus,
        @Subtotal,
        @Tax,
        @ShippingCost,
        @ShippingCost,
        @TotalAmount,
        @TotalAmount,
        @OrderStatus,
        GETDATE()
    );

    SET @OrderId = SCOPE_IDENTITY();
END
GO
