USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingEmailNotifications]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   1. Get Pending Email Notifications
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetPendingEmailNotifications]
    @Top INT = 50
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Top)
        NotificationGuid,
        RecipientEmail,
        RecipientName,
        Subject,
        Body,
        NotificationType,
        Status,
        Priority,
        ScheduledAt,
        RetryCount,
        RelatedEntityId,
        RelatedEntityType,
        CreatedAt
    FROM EmailNotifications
    WHERE Status = 'Pending'
        AND (ScheduledAt IS NULL OR ScheduledAt <= GETDATE())
        AND RetryCount < 3
    ORDER BY 
        CASE Priority 
            WHEN 'High' THEN 1 
            WHEN 'Normal' THEN 2 
            WHEN 'Low' THEN 3 
        END,
        CreatedAt ASC;
END
GO
