USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminGuid] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[LastLoginAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([AdminId], [AdminGuid], [Email], [PasswordHash], [FullName], [Role], [IsActive], [CreatedAt], [LastLoginAt]) VALUES (1, N'260e2a0a-5306-4ba6-9faa-ff165f6af89e', N'admin@kashmirizamindar.com', N'UhtYSfn/xOHsZ3ZeZd7tCwmTzBIo90w5Tw253NqpYRUdLPkDm9EuIFthL2SjfBNvBJZrOfXyhq3h2Nm6uT/quw==', N'Super Admin', N'SuperAdmin', 1, CAST(N'2025-12-30T22:01:20.0466667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminUse__A9D10534DFCE9190]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[AdminUsers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__AdminUse__AC43B674DFC9F747]    Script Date: 08-01-2026 19:16:20 ******/
ALTER TABLE [dbo].[AdminUsers] ADD UNIQUE NONCLUSTERED 
(
	[AdminGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT (newid()) FOR [AdminGuid]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ('Admin') FOR [Role]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
