USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_SendOrderConfirmationEmail]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_SendOrderConfirmationEmail]
    @OrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CustomerEmail NVARCHAR(255);
    DECLARE @CustomerName NVARCHAR(255);
    DECLARE @OrderTotal DECIMAL(18,2);
    DECLARE @OrderDate NVARCHAR(50);
    DECLARE @PaymentMethod NVARCHAR(50);

    -- Get order details
    SELECT 
        @CustomerEmail = u.Email,
        @CustomerName = CONCAT(u.FirstName, ' ', u.LastName),
        @OrderTotal = o.TotalAmount,
        @OrderDate = FORMAT(o.CreatedAt, 'dd MMM yyyy, hh:mm tt'),
        @PaymentMethod = CASE 
            WHEN o.PaymentType = 'COD' THEN 'Cash on Delivery'
            WHEN o.PaymentType = 'ONLINE' THEN 'Online Payment'
            WHEN o.PaymentType = 'CARD' THEN 'Credit/Debit Card'
            WHEN o.PaymentType = 'UPI' THEN 'UPI'
            ELSE o.PaymentType
        END
    FROM Orders o
    INNER JOIN Users u ON o.CustomerId = u.UserId
    WHERE o.OrderId = @OrderId;

    IF @CustomerEmail IS NOT NULL
    BEGIN
        DECLARE @Subject NVARCHAR(500);
        DECLARE @BodyTemplate NVARCHAR(MAX);
        
        -- Get template from database
        SELECT 
            @Subject = Subject,
            @BodyTemplate = BodyTemplate
        FROM EmailTemplates
        WHERE TemplateName = 'OrderConfirmation' AND IsActive = 1;

        -- Replace variables in template
        SET @Subject = REPLACE(@Subject, '{{OrderId}}', CAST(@OrderId AS NVARCHAR(50)));
        SET @BodyTemplate = REPLACE(@BodyTemplate, '{{CustomerName}}', @CustomerName);
        SET @BodyTemplate = REPLACE(@BodyTemplate, '{{OrderId}}', CAST(@OrderId AS NVARCHAR(50)));
        SET @BodyTemplate = REPLACE(@BodyTemplate, '{{OrderDate}}', @OrderDate);
        SET @BodyTemplate = REPLACE(@BodyTemplate, '{{TotalAmount}}', CAST(@OrderTotal AS NVARCHAR(50)));
        SET @BodyTemplate = REPLACE(@BodyTemplate, '{{PaymentMethod}}', @PaymentMethod);

        -- Create email notification
        INSERT INTO EmailNotifications (
            RecipientEmail, RecipientName, Subject, Body,
            NotificationType, Priority, Status,
            RelatedEntityId, RelatedEntityType, CreatedAt
        )
        VALUES (
            @CustomerEmail, @CustomerName, @Subject, @BodyTemplate,
            'OrderConfirmation', 'High', 'Pending',
            @OrderId, 'Order', GETDATE()
        );

        PRINT '✅ Order confirmation email queued';
    END
END
GO
