USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[PaymentTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[PaymentGateway] [nvarchar](50) NOT NULL,
	[TransactionId] [nvarchar](255) NULL,
	[RazorpayOrderId] [nvarchar](255) NOT NULL,
	[RazorpayPaymentId] [nvarchar](255) NULL,
	[RazorpaySignature] [nvarchar](500) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CompletedAt] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PaymentTransactions] ON 

INSERT [dbo].[PaymentTransactions] ([PaymentTransactionId], [OrderId], [PaymentGateway], [TransactionId], [RazorpayOrderId], [RazorpayPaymentId], [RazorpaySignature], [Amount], [Currency], [Status], [PaymentMethod], [CreatedAt], [CompletedAt], [ErrorMessage]) VALUES (1, 16, N'Razorpay', NULL, N'order_mock_d2b70b6d-7163-', NULL, NULL, CAST(994.00 AS Decimal(18, 2)), N'INR', N'Pending', NULL, CAST(N'2026-01-01T16:54:30.7607655' AS DateTime2), NULL, NULL)
INSERT [dbo].[PaymentTransactions] ([PaymentTransactionId], [OrderId], [PaymentGateway], [TransactionId], [RazorpayOrderId], [RazorpayPaymentId], [RazorpaySignature], [Amount], [Currency], [Status], [PaymentMethod], [CreatedAt], [CompletedAt], [ErrorMessage]) VALUES (2, 17, N'Razorpay', NULL, N'order_mock_32dd5347-aea9-', NULL, NULL, CAST(640.00 AS Decimal(18, 2)), N'INR', N'Pending', NULL, CAST(N'2026-01-01T16:56:31.7833363' AS DateTime2), NULL, NULL)
INSERT [dbo].[PaymentTransactions] ([PaymentTransactionId], [OrderId], [PaymentGateway], [TransactionId], [RazorpayOrderId], [RazorpayPaymentId], [RazorpaySignature], [Amount], [Currency], [Status], [PaymentMethod], [CreatedAt], [CompletedAt], [ErrorMessage]) VALUES (3, 18, N'Razorpay', NULL, N'order_mock_d4e61cb9-d761-', NULL, NULL, CAST(874.82 AS Decimal(18, 2)), N'INR', N'Pending', NULL, CAST(N'2026-01-01T17:11:18.1899075' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[PaymentTransactions] OFF
GO
/****** Object:  Index [IX_PaymentTransactions_OrderId]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_OrderId] ON [dbo].[PaymentTransactions]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_RazorpayOrderId]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_RazorpayOrderId] ON [dbo].[PaymentTransactions]
(
	[RazorpayOrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PaymentTransactions_Status]    Script Date: 08-01-2026 19:16:20 ******/
CREATE NONCLUSTERED INDEX [IX_PaymentTransactions_Status] ON [dbo].[PaymentTransactions]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTransactions_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PaymentTransactions_Orders]
GO
