USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetLowStockProducts]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. Get Low Stock Products
-- =============================================
CREATE   PROCEDURE [dbo].[usp_GetLowStockProducts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.ProductGuid,
        p.Name AS ProductName,
        p.Category,
        p.StockQuantity,
        p.LowStockThreshold,
        p.ImageUrl,
        CASE 
            WHEN p.StockQuantity = 0 THEN 'Out of Stock'
            ELSE 'Low Stock'
        END AS StockStatus
    FROM Products p
    WHERE p.IsActive = 1 
        AND p.StockQuantity <= p.LowStockThreshold
    ORDER BY p.StockQuantity ASC;
END
GO
