USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddProductReview]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- ADD PRODUCT REVIEW
-- ============================================
CREATE   PROCEDURE [dbo].[usp_AddProductReview]
(
    @ProductGuid UNIQUEIDENTIFIER,
    @CustomerId INT = NULL,
    @CustomerName NVARCHAR(100),
    @CustomerEmail NVARCHAR(150),
    @Rating INT,
    @ReviewTitle NVARCHAR(200),
    @ReviewText NVARCHAR(MAX),
    @ReviewId INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if customer has purchased this product (optional)
    DECLARE @IsVerifiedPurchase BIT = 0;
    
    IF @CustomerId IS NOT NULL
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM Orders o
            JOIN OrderItems oi ON o.OrderId = oi.OrderId
            WHERE o.CustomerId = @CustomerId 
              AND oi.ProductGuid = @ProductGuid
              AND o.PaymentStatus = 'Paid'
        )
        BEGIN
            SET @IsVerifiedPurchase = 1;
        END
    END

    INSERT INTO ProductReviews
    (
        ProductGuid,
        CustomerId,
        CustomerName,
        CustomerEmail,
        Rating,
        ReviewTitle,
        ReviewText,
        IsVerifiedPurchase,
        IsApproved,
        CreatedAt
    )
    VALUES
    (
        @ProductGuid,
        @CustomerId,
        @CustomerName,
        @CustomerEmail,
        @Rating,
        @ReviewTitle,
        @ReviewText,
        @IsVerifiedPurchase,
        1, -- Auto-approve for now
        GETDATE()
    );

    SET @ReviewId = SCOPE_IDENTITY();
END
GO
