USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetComparisonReport]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   7. COMPARISON REPORT
========================================================= */
CREATE   PROCEDURE [dbo].[sp_GetComparisonReport]
    @Period1Start DATE,
    @Period1End DATE,
    @Period2Start DATE,
    @Period2End DATE
AS
BEGIN
    SET NOCOUNT ON;

    -- Period 1 Metrics
    SELECT 
        'Period1' AS Period,
        COUNT(DISTINCT o.OrderId) AS TotalOrders,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalRevenue,
        ISNULL(AVG(o.TotalAmount), 0) AS AverageOrderValue,
        COUNT(DISTINCT o.CustomerId) AS UniqueCustomers,
        ISNULL(SUM(oi.Quantity), 0) AS TotalItemsSold
    FROM Orders o
    LEFT JOIN OrderItems oi ON o.OrderId = oi.OrderId
    WHERE CAST(o.CreatedAt AS DATE) BETWEEN @Period1Start AND @Period1End

    UNION ALL

    -- Period 2 Metrics
    SELECT 
        'Period2' AS Period,
        COUNT(DISTINCT o.OrderId) AS TotalOrders,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalRevenue,
        ISNULL(AVG(o.TotalAmount), 0) AS AverageOrderValue,
        COUNT(DISTINCT o.CustomerId) AS UniqueCustomers,
        ISNULL(SUM(oi.Quantity), 0) AS TotalItemsSold
    FROM Orders o
    LEFT JOIN OrderItems oi ON o.OrderId = oi.OrderId
    WHERE CAST(o.CreatedAt AS DATE) BETWEEN @Period2Start AND @Period2End;
END
GO
