USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateCustomer]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CreateCustomer]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(150),
    @Phone NVARCHAR(50) = NULL,
    @SubscribeMarketing BIT = 0
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CustomerId INT;

    INSERT INTO Customers (FirstName, LastName, Email, Phone, SubscribeMarketing)
    VALUES (@FirstName, @LastName, @Email, @Phone, @SubscribeMarketing);

    SET @CustomerId = SCOPE_IDENTITY();

    -- Return the newly created CustomerId
    SELECT @CustomerId AS CustomerId;
END
GO
