USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrderDetails]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetOrderDetails]
    @OrderGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.OrderGuid,
        o.OrderId,
        c.FirstName + ' ' + c.LastName AS CustomerName,
        o.CustomerEmail,
        o.CustomerPhone,
        o.Subtotal,
        o.Tax,
        o.Shipping,
        o.TotalAmount,
        o.OrderStatus,
        o.PaymentStatus,
        o.PaymentType,
        o.CreatedAt,
        o.ShippingAddress,
        o.BillingAddress
    FROM Orders o
    LEFT JOIN Customers c ON o.CustomerId = c.CustomerId
    WHERE o.OrderGuid = @OrderGuid;

    SELECT
        oi.ProductName,
        oi.Quantity,
        oi.Price,
        oi.Subtotal
    FROM OrderItems oi
    INNER JOIN Orders o ON oi.OrderId = o.OrderId
    WHERE o.OrderGuid = @OrderGuid;
END
GO
