USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserOrders]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================================================
   USER ORDER HISTORY STORED PROCEDURES
========================================================= */

-- 1. Get User Orders (with pagination)
CREATE   PROCEDURE [dbo].[sp_GetUserOrders]
    @UserGuid UNIQUEIDENTIFIER,
    @Page INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@Page - 1) * @PageSize;

    SELECT 
        o.OrderGuid,
        o.OrderId,
        o.TotalAmount,
        o.OrderStatus,
        o.PaymentStatus,
        o.PaymentType,
        o.CreatedAt,
        o.ShippingAddress,
        (SELECT COUNT(*) FROM OrderItems WHERE OrderId = o.OrderId) AS ItemCount,
        (SELECT COUNT(*) FROM Orders WHERE CustomerId = u.UserId) AS TotalOrders
    FROM Orders o
    INNER JOIN Users u ON o.CustomerId = u.UserId
    WHERE u.UserGuid = @UserGuid
    ORDER BY o.CreatedAt DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
