USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrdersAdvanced]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetOrdersAdvanced]
    @PageNumber INT = 1,
    @PageSize INT = 20,
    @OrderStatus NVARCHAR(50) = NULL,
    @PaymentStatus NVARCHAR(50) = NULL,
    @PaymentType NVARCHAR(50) = NULL,
    @SearchTerm NVARCHAR(200) = NULL,
    @FromDate DATETIME2 = NULL,
    @ToDate DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        o.OrderGuid,
        o.OrderId,
        COALESCE(c.FirstName + ' ' + c.LastName, o.CustomerEmail) AS CustomerName,
        ISNULL(o.CustomerEmail, '') AS CustomerEmail,
        ISNULL(o.CustomerPhone, '') AS CustomerPhone,
        ISNULL(o.Subtotal, 0) AS Subtotal,
        ISNULL(o.Tax, 0) AS Tax,
        ISNULL(o.Shipping, 0) AS Shipping,
        ISNULL(o.TotalAmount, 0) AS TotalAmount,
        ISNULL(o.OrderStatus, 'Unknown') AS OrderStatus,
        ISNULL(o.PaymentStatus, 'Unknown') AS PaymentStatus,
        ISNULL(o.PaymentType, 'Unknown') AS PaymentType,
        o.CreatedAt,
        ISNULL(o.ShippingAddress, '') AS ShippingAddress,
        (SELECT COUNT(*) FROM OrderItems WHERE OrderId = o.OrderId) AS ItemCount
    FROM Orders o
    LEFT JOIN Customers c ON o.CustomerId = c.CustomerId
    WHERE 
        (@OrderStatus IS NULL OR o.OrderStatus = @OrderStatus)
        AND (@PaymentStatus IS NULL OR o.PaymentStatus = @PaymentStatus)
        AND (@PaymentType IS NULL OR o.PaymentType = @PaymentType)
        AND (@SearchTerm IS NULL OR 
            o.CustomerEmail LIKE '%' + @SearchTerm + '%' OR
            c.FirstName LIKE '%' + @SearchTerm + '%' OR
            c.LastName LIKE '%' + @SearchTerm + '%' OR
            CAST(o.OrderId AS NVARCHAR) LIKE '%' + @SearchTerm + '%')
        AND (@FromDate IS NULL OR o.CreatedAt >= @FromDate)
        AND (@ToDate IS NULL OR o.CreatedAt <= @ToDate)
    ORDER BY o.CreatedAt DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
