USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomerDetailsComplete]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetCustomerDetailsComplete]
    @UserGuid UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserId INT;
    SELECT @UserId = UserId FROM Users WHERE UserGuid = @UserGuid;

    IF @UserId IS NULL
    BEGIN
        -- Return empty result sets if user not found
        SELECT 
            CAST(NULL AS UNIQUEIDENTIFIER) AS UserGuid,
            CAST(NULL AS NVARCHAR(255)) AS Email,
            CAST(NULL AS NVARCHAR(255)) AS Name,
            CAST(NULL AS NVARCHAR(20)) AS PhoneNumber,
            CAST(NULL AS DATETIME) AS CreatedAt,
            CAST(NULL AS DATETIME) AS LastLoginAt,
            CAST(0 AS BIT) AS IsActive,
            0 AS TotalOrders,
            CAST(0 AS DECIMAL(18,2)) AS TotalSpent,
            CAST(0 AS DECIMAL(18,2)) AS AverageOrderValue,
            CAST(NULL AS DATETIME) AS LastOrderDate,
            0 AS OrdersLast30Days,
            0 AS OrdersLast90Days,
            'New' AS CustomerStatus,
            'Customer' AS Role
        WHERE 1=0; -- Return no rows
        RETURN;
    END

    -- =========================
    -- 1. Customer basic info
    -- =========================
    SELECT 
        u.UserGuid,
        ISNULL(u.Email, '') AS Email,
        CONCAT(ISNULL(u.FirstName, ''), ' ', ISNULL(u.LastName, '')) AS Name,
        u.PhoneNumber,
        u.CreatedAt,
        u.LastLoginAt,
        CAST(ISNULL(u.IsActive, 0) AS BIT) AS IsActive,  -- FIXED
        COUNT(o.OrderId) AS TotalOrders,
        ISNULL(SUM(o.TotalAmount), 0) AS TotalSpent,
        CASE 
            WHEN COUNT(o.OrderId) = 0 THEN 0
            ELSE ISNULL(SUM(o.TotalAmount), 0) / COUNT(o.OrderId)
        END AS AverageOrderValue,
        MAX(o.CreatedAt) AS LastOrderDate,
        SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -30, GETDATE()) THEN 1 ELSE 0 END) AS OrdersLast30Days,
        SUM(CASE WHEN o.CreatedAt >= DATEADD(DAY, -90, GETDATE()) THEN 1 ELSE 0 END) AS OrdersLast90Days,
        CASE 
            WHEN COUNT(o.OrderId) = 0 THEN 'New'
            WHEN MAX(o.CreatedAt) >= DATEADD(DAY, -30, GETDATE()) THEN 'Active'
            ELSE 'Inactive'
        END AS CustomerStatus,
        'Customer' AS Role
    FROM Users u
    LEFT JOIN Orders o ON u.UserId = o.CustomerId
    WHERE u.UserGuid = @UserGuid
    GROUP BY 
        u.UserGuid, u.Email, u.FirstName, u.LastName,
        u.PhoneNumber, u.CreatedAt, u.LastLoginAt, u.IsActive;

    -- =========================
    -- 2. Addresses (FROM ORDERS)
    -- =========================
    SELECT DISTINCT
        NEWID() AS AddressGuid,
        ISNULL(o.ShippingAddress, 'No address') AS AddressLine1,
        o.BillingAddress AS AddressLine2,
        NULL AS City,
        NULL AS State,
        NULL AS PostalCode,
        ISNULL('India', '') AS Country,
        CAST(
            CASE 
                WHEN o.CreatedAt = (SELECT MAX(CreatedAt) FROM Orders WHERE CustomerId = @UserId)
                THEN 1 ELSE 0 
            END AS BIT
        ) AS IsDefault,  -- FIXED
        o.CreatedAt
    FROM Orders o
    WHERE o.CustomerId = @UserId
      AND o.ShippingAddress IS NOT NULL
    ORDER BY o.CreatedAt DESC;

    -- =========================
    -- 3. Recent orders
    -- =========================
    SELECT TOP 10
        o.OrderGuid,
        o.OrderId,
        o.CreatedAt,
        ISNULL(o.TotalAmount, 0) AS TotalAmount,
        ISNULL(o.OrderStatus, 'Unknown') AS OrderStatus,
        ISNULL(o.PaymentStatus, 'Unknown') AS PaymentStatus,
        ISNULL(o.PaymentType, 'Unknown') AS PaymentType,
        COUNT(oi.OrderItemId) AS ItemCount
    FROM Orders o
    LEFT JOIN OrderItems oi ON o.OrderId = oi.OrderId
    WHERE o.CustomerId = @UserId
    GROUP BY 
        o.OrderGuid,
        o.OrderId,
        o.CreatedAt,
        o.TotalAmount,
        o.OrderStatus,
        o.PaymentStatus,
        o.PaymentType
    ORDER BY o.CreatedAt DESC;
END
GO
