USE [KashmiriZamindarDB]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 08-01-2026 19:16:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [uniqueidentifier] NULL,
	[ProductName] [nvarchar](200) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[ProductGuid] [uniqueidentifier] NULL,
	[Subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [Quantity], [Price], [ProductGuid], [Subtotal]) VALUES (1, 1, N'4df15e7f-4dfc-4375-a63e-c04829894b1a', N'Kashmiri Saffron', 1, CAST(850.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [Quantity], [Price], [ProductGuid], [Subtotal]) VALUES (2, 2, N'4df15e7f-4dfc-4375-a63e-c04829894b1a', N'Kashmiri Saffron', 1, CAST(850.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[OrderItems] ([OrderItemId], [OrderId], [ProductId], [ProductName], [Quantity], [Price], [ProductGuid], [Subtotal]) VALUES (3, 3, N'4df15e7f-4dfc-4375-a63e-c04829894b1a', N'Kashmiri Saffron', 1, CAST(850.00 AS Decimal(10, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
