USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetRecentOrders]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetRecentOrders]
    @Top INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP (@Top)
        o.OrderGuid,
        c.FirstName + ' ' + c.LastName AS CustomerName,
        o.CustomerEmail,
        o.TotalAmount,
        o.OrderStatus,
        o.PaymentStatus,
        o.CreatedAt as OrderDate
    FROM Orders o
    LEFT JOIN Customers c ON o.CustomerId = c.CustomerId
    ORDER BY o.CreatedAt DESC;
END
GO
