USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddPayment]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AddPayment]
    @OrderId INT,
    @PaymentType NVARCHAR(50),
    @CardNumber NVARCHAR(50),
    @CardExpiry NVARCHAR(10),
    @CardCVV NVARCHAR(10),
    @NameOnCard NVARCHAR(100),
    @BillingAddress NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Payments (OrderId, PaymentType, CardNumber, CardExpiry, CardCVV, NameOnCard, BillingAddress)
    VALUES (@OrderId, @PaymentType, @CardNumber, @CardExpiry, @CardCVV, @NameOnCard, @BillingAddress)
END
GO
