USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetOrderStatistics]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 7. Get Order Statistics
-- =============================================
CREATE   PROCEDURE [dbo].[usp_GetOrderStatistics]
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*) AS TotalOrders,
        SUM(CASE WHEN OrderStatus = 'Pending' THEN 1 ELSE 0 END) AS PendingOrders,
        SUM(CASE WHEN OrderStatus = 'Processing' THEN 1 ELSE 0 END) AS ProcessingOrders,
        SUM(CASE WHEN OrderStatus = 'Shipped' THEN 1 ELSE 0 END) AS ShippedOrders,
        SUM(CASE WHEN OrderStatus = 'Delivered' THEN 1 ELSE 0 END) AS DeliveredOrders,
        SUM(CASE WHEN OrderStatus = 'Cancelled' THEN 1 ELSE 0 END) AS CancelledOrders,
        SUM(CASE WHEN PaymentStatus = 'Paid' THEN 1 ELSE 0 END) AS PaidOrders,
        SUM(CASE WHEN PaymentStatus = 'Pending' THEN 1 ELSE 0 END) AS UnpaidOrders,
        SUM(CASE WHEN PaymentType = 'COD' THEN 1 ELSE 0 END) AS CODOrders,
        SUM(CASE WHEN PaymentType IN ('Card', 'UPI', 'Online') THEN 1 ELSE 0 END) AS OnlineOrders,
        ISNULL(SUM(TotalAmount), 0) AS TotalRevenue,
        ISNULL(AVG(TotalAmount), 0) AS AverageOrderValue
    FROM Orders
    WHERE CreatedAt >= DATEADD(DAY, -@Days, GETDATE());
END
GO
