USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetProductReviews]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================
-- GET PRODUCT REVIEWS
-- ============================================
CREATE   PROCEDURE [dbo].[usp_GetProductReviews]
(
    @ProductGuid UNIQUEIDENTIFIER,
    @PageNumber INT = 1,
    @PageSize INT = 10
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        ReviewId,
        CustomerName,
        Rating,
        ReviewTitle,
        ReviewText,
        IsVerifiedPurchase,
        HelpfulCount,
        CreatedAt
    FROM ProductReviews
    WHERE ProductGuid = @ProductGuid AND IsApproved = 1
    ORDER BY CreatedAt DESC
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
