USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateUser]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 3. Create User (Register)
-- =============================================
CREATE   PROCEDURE [dbo].[usp_CreateUser]
    @Email NVARCHAR(255),
    @PasswordHash NVARCHAR(500),
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @PhoneNumber NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Insert new user
    INSERT INTO Users (Email, PasswordHash, FirstName, LastName, PhoneNumber)
    VALUES (@Email, @PasswordHash, @FirstName, @LastName, @PhoneNumber);

    -- Return the created user
    SELECT 
        UserId,
        UserGuid,
        Email,
        FirstName,
        LastName,
        PhoneNumber,
        CreatedAt,
        IsActive
    FROM Users
    WHERE UserId = SCOPE_IDENTITY();
END
GO
