USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetInventoryOverview]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetInventoryOverview]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        p.ProductGuid,
        p.Name AS ProductName,
        p.Category,
        p.Price,
        p.StockQuantity,
        p.LowStockThreshold,
        pi.ImageUrl,       -- ✅ simple join
        p.IsActive,
        CASE 
            WHEN p.StockQuantity = 0 THEN 'Out of Stock'
            WHEN p.StockQuantity <= p.LowStockThreshold THEN 'Low Stock'
            ELSE 'In Stock'
        END AS StockStatus,
        ISNULL(SUM(oi.Quantity), 0) AS TotalSold,
        ISNULL(SUM(oi.Subtotal), 0) AS TotalRevenue
    FROM Products p
    LEFT JOIN ProductImages pi 
        ON p.ProductGuid = pi.ProductGuid 
        AND pi.IsPrimary = 1   -- only primary image
    LEFT JOIN OrderItems oi 
        ON p.ProductGuid = oi.ProductGuid
    GROUP BY 
        p.ProductGuid,
        p.Name,
        p.Category,
        p.Price,
        p.StockQuantity,
        p.LowStockThreshold,
        pi.ImageUrl,
        p.IsActive
    ORDER BY p.Name;
END
GO
