USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_CreatePaymentTransaction]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================
-- CREATE PAYMENT TRANSACTION
-- ============================================
CREATE   PROCEDURE [dbo].[usp_CreatePaymentTransaction]
(
    @OrderId INT,
    @PaymentGateway NVARCHAR(50),
    @RazorpayOrderId NVARCHAR(255),
    @Amount DECIMAL(18,2),
    @Currency NVARCHAR(10),
    @Status NVARCHAR(50),
    @PaymentTransactionId INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO PaymentTransactions
    (
        OrderId,
        PaymentGateway,
        RazorpayOrderId,
        Amount,
        Currency,
        Status,
        CreatedAt
    )
    VALUES
    (
        @OrderId,
        @PaymentGateway,
        @RazorpayOrderId,
        @Amount,
        @Currency,
        @Status,
        GETDATE()
    );

    SET @PaymentTransactionId = SCOPE_IDENTITY();
END
GO
