USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkUpdateOrderStatus]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 8. Bulk Update Order Status
-- =============================================
CREATE   PROCEDURE [dbo].[usp_BulkUpdateOrderStatus]
    @OrderGuids NVARCHAR(MAX), -- Comma-separated GUIDs
    @OrderStatus NVARCHAR(50),
    @PaymentStatus NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Orders
    SET 
        OrderStatus = @OrderStatus,
        PaymentStatus = COALESCE(@PaymentStatus, PaymentStatus),
        Status = @OrderStatus
    WHERE OrderGuid IN (
        SELECT value FROM STRING_SPLIT(@OrderGuids, ',')
    );

    SELECT @@ROWCOUNT AS UpdatedCount;
END
GO
