USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_ToggleProductStatus]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_ToggleProductStatus]
    @ProductGuid UNIQUEIDENTIFIER
AS
BEGIN
    UPDATE Products
    SET IsActive = CASE WHEN IsActive = 1 THEN 0 ELSE 1 END
    WHERE ProductGuid = @ProductGuid;
END
GO
