USE [KashmiriZamindarDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDashboardStats]    Script Date: 08-01-2026 19:16:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[usp_GetDashboardStats]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        (SELECT COUNT(*) FROM Orders) AS TotalOrders,
        (SELECT ISNULL(SUM(TotalAmount),0) FROM Orders WHERE PaymentStatus = 'Paid') AS TotalRevenue,
        (SELECT COUNT(DISTINCT CustomerId) FROM Orders WHERE CustomerId IS NOT NULL) AS TotalCustomers,
        (SELECT COUNT(*) FROM Products WHERE IsActive = 1) AS TotalProducts,
        (SELECT COUNT(*) FROM Orders WHERE OrderStatus = 'Pending') AS PendingOrders,
        (SELECT COUNT(*) FROM Orders WHERE OrderStatus = 'Delivered') AS CompletedOrders,
        (SELECT ISNULL(SUM(TotalAmount),0)
            FROM Orders
            WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)
              AND PaymentStatus = 'Paid') AS TodayRevenue,
        (SELECT COUNT(*)
            FROM Orders
            WHERE CAST(CreatedAt AS DATE) = CAST(GETDATE() AS DATE)) AS TodayOrders;
END
GO
